.adm {
  &.prof-content {

    .prof-content__col {
      flex: 0 0 calc(50% - 30px);
      width: 100%;
      max-width: calc(50% - 30px);
      margin-right: 30px;

      @include media($sm) {
        max-width: calc(100% - 30px);
        flex: 0 0 calc(100% - 30px);
        margin-top: 30px;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .prof-box {
      margin-right: 0;
      max-width: 100%;
    }

    .prof-box__top {
      font-size: 16px;
    }
  }

  &-search {

    &__result {
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-color: #ffffff;

      &--alt {
        margin-top: 0;
        background-color: transparent;
      }

      .base-card {
        margin-bottom: 0;
        margin-top: 30px;
      }

      .base-card__content {
        padding: 15px;
      }

      .base-card__top {
        width: calc(100% + 30px);
        margin-left: -15px;
        padding-left: 15px;
        padding-right: 15px;
      }

      .base-card__num {
        .icon {
          font-size: 16px;
        }
      }
    }

    &__item {
      padding: 11px 20px;
      border-bottom: 1px solid #e1e1e1;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 21px;

      &:last-child {
        border-bottom: none;
      }

      &-name {
        flex: 1;
        margin-right: 15px;
      }

      &-date {
        display: flex;
        margin-right: 40px;
        align-items: center;
        color: $colorAccent;

        .icon {
          font-size: 17px;
          margin-right: 7px;
        }

        span {
          display: inline-block;
          font-weight: 600;
          color: #333333;
          margin-left: 4px;

          &.bad {
            color: #ec3333;
          }

          &.success {
            color: #00ba6d;
          }
        }
      }

      .btn {
        margin-right: 37px;
        height: 33px;
        width: 118px;
        font-size: 13px;
      }

      &-del {
        min-width: 80px;
        display: flex;
        align-items: center;
        color: #888888;
        border: none;
        background-color: transparent;
        box-shadow: none;
        cursor: pointer;
        font-size: 13px;
        transition: .3s;

        &:hover {
          color: #ec3333;

          span {
            border-color: #ec3333;

            &:after,
            &:before {
              background: #ec3333;
            }
          }
        }

        span {
          position: relative;
          display: inline-block;
          margin-right: 8px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 1px solid #888888;
          transition: .3s;
          top: -1px;

          &:after,
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 9px;
            height: 1px;
            background: #333;
            transition: .3s;
          }

          &:after {
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }
  }

  &-enter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    &__bottom {
      margin-top: 22px;
      padding-top: 17px;
      border-top: 1px solid #dbdbdb;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 400;

      a {
        color: $colorAccent;

        .icon {
          margin-right: 9px;
          font-size: 16px;
          position: relative;
          bottom: -3px;
        }

        &:last-child {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .form {
      width: 100%;
      max-width: 451px;

      label {
        margin-bottom: 20px;

        &.checkbox {
          margin-bottom: 0;
          font-size: 14px;
        }

        input[type="text"],
        input[type="password"] {
          height: 50px;
          font-size: 14px;
        }
      }

      &__action {
        .btn {
          height: 48px;
          width: 226px;
          font-size: 14px;
        }
      }
    }

    .logo {
      text-align: center;
      margin: 0 auto 40px;
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
    }
  }

  &-first-visit {
    .base-card__content {
      padding: 15px;

      &:hover {
        top: 0;
        box-shadow: none;
      }
    }
    .base-card__top {
      width: calc(100% + 30px);
      margin-left: -15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .base-card__name {
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
    }
    .base-card__actions {
      display: flex;
      align-items: center;

      .btn {
        max-width: 186px;
        flex: 1;
        margin-right: 24px;
        height: 32px;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  &-testing {
    .prof-progress__actions {
      margin-bottom: 35px;

      .btn {
        height: 67px;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  &-edit-test {
    .form {
      .prof-content__col {
        & > .prof-box {
          &:first-of-type {
            margin-top: 51px;
          }
        }
      }
    }
  }
}