.banner {
  @include col(1,2);
  padding: 0 15px;
  margin-bottom: 30px;
  padding-top: 30px;

  @include media($sm) {
    @include col(1,1);
    padding-top: 0;
    margin-bottom: 15px;

    &:first-child {
      margin-top: 30px;
    }
  }

  &s {
    padding-bottom: 76px;
    background-color: #fcfcfc;

    &__content {
      @include row(-15px);
    }

    .btn {
      margin: 0 auto;
      max-width: 561px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      height: 82px;

      @include media($sm) {
        margin-top: 15px;
        height: 60px;
        max-width: 100%;
        font-size: 14px;
      }
    }
  }

  &__content {
    display: block;
    height: 100%;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 62%;
    }

    span {
      position: absolute;
      top: 50%;
      left: 32px;
      width: 40%;
      color: #ffffff;
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 800;
      transform: translateY(-50%);

      @include media($lg) {
        font-size: 26px;
      }

      @include media($md) {
        font-size: 20px;
      }

      @include media($xl) {
        font-size: 18px;
        left: 15px;
      }
    }
  }
}