.prof-progress {

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -27px;
  }

  &__item {
    flex: 0 0 calc(20% - 27px);
    width: 100%;
    max-width: calc(20% - 27px);
    margin-right: 27px;
    margin-bottom: 30px;
    text-align: center;

    @include media($md) {
      flex: 0 0 calc(25% - 27px);
      max-width: calc(25% - 27px);
    }

    @include media($sm) {
      flex: 0 0 calc(33.33333% - 27px);
      max-width: calc(33.33333% - 27px);
    }

    @include media($xl) {
      flex: 0 0 calc(50% - 27px);
      max-width: calc(50% - 27px);
    }

    &-close {
      margin: 0 auto 9px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid #333;
      position: relative;
      opacity: .2;
      transition: .3s;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 1px;
        background-color: #333;
      }

      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    img {
      display: block;
      margin: 0 auto 19px;
      width: 100%;
    }

    &-name {
      line-height: 18px;
      font-size: 13px;
      font-weight: 500;
    }
  }

  &__actions {
    margin-top: 14px;

    .btn {
      width: 100%;
      max-width: 504px;
      height: 60px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 600;

        @include media($xl) {
          font-size: 14px;
        }
      }
    }
  }

  &__add {
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;

    @include media($xl) {
      font-size: 14px;
    }

    .icon {
      font-size: 21px;
      margin-right: 13px;

      @include media($xl) {
        font-size: 18px;
      }
    }
  }
}