mixin popup-login(modifier)
  .popup#login.popup-login&attributes(attributes)
    .popup__title Авторизация
    .popup__content
      form.form
        label
          span Логин
          input(type="text" name="login" placeholder="Login" required)
        label
          span Пароль
          input(type="text" name="password" placeholder="Password" required)
        a(href="#forgot-pas").form__link.js-popup Забыли пароль ?
        .form__action
          a(href="#reg").btn.btn--light.js-popup Регистрация
          input(type="submit" name="submit" value="Войти").btn.btn--accent