.prof {

  &-section {
    margin-top: 55px;

    &:first-child {
      margin-top: 0;
    }

    .adm-search__item-del {
      margin-bottom: 22px;
      color: $colorAccent;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        color: #ec3333;

        span {
          border-color: #ec3333;

          &:after,
          &:before {
            background: #ec3333;
          }
        }
      }

      span {
        margin-bottom: 0;
        border-color: $colorAccent;

        &:after,
        &:before {
          background: $colorAccent;
        }
      }
    }
  }

  &-content {

    .form {
      display: flex;
      flex-wrap: wrap;
      margin-right: -30px;

      .prof-box,
      & > label {
        flex: 0 0 calc(50% - 30px);
        width: 100%;
        max-width: calc(50% - 30px);
        margin-right: 30px;
        margin-bottom: 30px;
      }

      & > label {
        select,
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"] {
          height: 50px;
          font-size: 14px;
        }
      }

      .jq-selectbox__select-text {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &-box {
    border-radius: 4px;
    background-color: #ffffff;
    align-self: flex-start;

    &__action {
      display: flex;
      align-items: center;
      margin-top: 15px;

      .btn {
        width: 211px;
        height: 40px;
        font-size: 14px;
        font-weight: 500;
        margin-right: 25px;
      }
    }

    &.edit {
      .prof-box__content-edit {
        display: block;
      }
      .prof-box__content-question {
        display: none;
      }
      .prof-box__top {
        background: $colorAccent;
        color: #fff;

        .icon {
          color: #fff;
        }
      }
    }

    &--el {
      .prof-box__content {
        display: flex;
        flex-wrap: wrap;

        &-edit {
          display: none;
        }
      }
    }

    &__edit {
      background-color: transparent;
      border: none;
      box-shadow: none;
      cursor: pointer;
      font-size: 21px;
      position: absolute;
      margin-top: 2px;
      top: 50%;
      right: 11px;
      transform: translateY(-50%);
      color: $colorAccent;

      &[disabled] {
        pointer-events: none;
      }
    }

    &__el {
      width: 100%;
      margin-bottom: 10px;

      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-bottom: 0;
      }

      &:nth-child(odd) {
        flex: 0 0 calc(59% - 20px);
        max-width: calc(59% - 20px);
        margin-right: 20px;
      }

      &:nth-child(even) {
        flex: 0 0 41%;
        max-width: 41%;
      }

      &-name {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 3px;
      }

      &-val {
        color: #666666;
        font-size: 14px;
        line-height: 1.4;
      }
    }

    &__content {
      padding: 15px;

      &-question {
        justify-content: space-between;

        .prof-box__el {
          flex: 0 0 calc(50% - 10px) !important;
          max-width: calc(50% - 10px) !important;

          &:first-child {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            margin-right: 0;
          }
        }
      }

      &-edit {
        display: none;
      }
    }

    &__add-user {
      max-width: 137px;
      height: 40px;
      margin-bottom: 20px;
      font-size: 12px;
    }

    &__close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 20px;
      height: 20px;

      &:after,
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 9px;
        height: 1px;
        background: #333;
      }

      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    &__top {
      position: relative;
      display: block;
      background-color: #e4e4e4;
      padding: 14px 50px 14px 15px;
      font-weight: 500;
      line-height: 1;
      border-radius: 4px 4px 0 0;
    }

    label:last-child {
      margin-bottom: 0;
    }

    &__res {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 94px;
      margin-bottom: 36px;
      font-size: 14px;

      & + * {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: -18px;
          left: -15px;
          width: calc(100% + 30px);
          border-bottom: 1px solid #e9e9e9;
          pointer-events: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-item {
        position: relative;
        padding-left: 23px;
        line-height: 1;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-child {
          margin-bottom: 0;
        }

        &-name {
          white-space: nowrap;
          overflow: hidden;
        }

        &-edit {
          margin-left: 15px;
          white-space: nowrap;
          min-width: 150px;
          display: flex;
          align-items: center;
          font-size: 14px;
          color: #afaeae;
          transition: .3s;
          margin-right: 15px;

          &:hover {
            color: $colorAccent;
          }

          .icon {
            font-size: 12px;
            margin-right: 4px;
            position: relative;
            bottom: -1px;
          }
        }

        &-close {
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 1px solid #333;
          opacity: .2;
          transition: .3s;

          &:hover {
            opacity: 1;
            border-color: $colorAccent;

            &:after,
            &:before {
              background-color: $colorAccent;
            }
          }

          &:after,
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 1px;
            background-color: #333;
          }

          &:after {
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }
  }
}