mixin pagination(modifier)
  .pagination&attributes(attributes)
    a(href="#").btn-page < Назад
    a(href="#") 1
    a(href="#").active 2
    a(href="#") 3
    a(href="#") 4
    a(href="#").btn-page Следующая >