.pagination {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    color: $colorAccent;
    width: 35px;
    transition: .3s;

    &:last-child {
      margin-right: 0;
    }

    &.btn-page {
      width: 121px;
    }

    &:hover,
    &.active {
      color: #fff;
      background: $colorAccent;
    }
  }
}