.prof-testing {

  &__filter {
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 24px;

    @include media($min) {
      padding: 15px;
    }

    .form {
      display: flex;
      flex-wrap: wrap;
      margin-right: -24px;

      label {
        flex: 0 0 calc(50% - 24px);
        width: 100%;
        max-width: calc(50% - 24px);
        margin-right: 24px;
        margin-bottom: 24px;

        @include media($sm) {
          max-width: calc(100% - 24px);
          flex: 0 0 calc(100% - 24px);
        }
      }

      &__action {
        flex: 0 0 100%;

        @include media($sm) {
          flex-wrap: wrap;
        }

        .btn {
          flex: 0 0 calc(50% - 24px);
          width: 100%;
          max-width: calc(50% - 24px);
          margin-right: 24px;
          height: 52px;
          font-size: 14px;
          font-weight: 500;

          @include media($sm) {
            max-width: calc(100% - 24px);
            flex: 0 0 calc(100% - 24px);
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          @include media($min) {
            font-size: 12px;
            line-height: 1.1;
          }
        }
      }
    }
  }

  &__complete {
    margin-bottom: 23px;
    border-top: 1px solid #dadada;
    padding-top: 25px;

    &--alone {
      border-top: none;
      padding-top: 0;
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }

  &__item {
    margin-right: 30px;
    flex: 0 0 calc(25% - 30px);
    width: 100%;
    max-width: calc(25% - 30px);
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #ffffff;

    @include media($lg) {
      max-width: calc(33.3333% - 30px);
      flex: 0 0 calc(33.3333% - 30px);
    }

    @include media($sm) {
      max-width: calc(50% - 30px);
      flex: 0 0 calc(50% - 30px);
    }

    @include media($xl) {
      max-width: calc(100% - 30px);
      flex: 0 0 calc(100% - 30px);
    }

    &-top {
      padding: 20px 20px 18px;
      border-bottom: 1px solid #ededed;
      font-size: 14px;
      line-height: 20px;
    }

    &-name {
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 14px;
    }

    &-content {
      padding: 20px;

      .btn {
        font-size: 14px;
        height: 39px;
      }
    }

    &-points {
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 1;
      margin-bottom: 20px;

      &-num {
        font-size: 44px;
        color: $colorAccent;
        display: block;
        margin-bottom: 6px;
        margin-top: 3px;
      }
    }

    &-status {
      font-size: 18px;
      text-transform: none;

      &.bad {
        color: #ec3333;
      }

      &.success {
        color: #00ba6d;
      }
    }
  }

  &__result {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @include media($xl) {
      display: block;
    }
  }

  &__time {
    display: flex;
    align-items: center;
    margin-right: 60px;

    @include media($xl) {
      margin-bottom: 30px;
      margin-right: 0;
    }

    .icon {
      color: $colorAccent;
      font-size: 31px;
      position: relative;
      bottom: -2px;
      margin-right: 11px;
    }

    &-info {
      font-size: 14px;
      line-height: 20px;
      color: #888888;

      span {
        color: #333;
        display: block;
      }
    }
  }

  &__points {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;

    &-num {
      font-size: 22px;
      color: $colorAccent;
      padding-right: 12px;

      span {
        font-size: 10px;
        display: block;
        color: #333333;
        margin-bottom: 2px;
        text-transform: uppercase;
      }
    }

    &-status {
      font-size: 16px;
      position: relative;
      padding-left: 43px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 31px;
        border-bottom: 1px solid #d0d0d0;
      }

      &.bad {
        color: #ec3333;
      }

      &.success {
        color: #00ba6d;
      }
    }
  }

  &__question {
    padding: 20px 0 20px 20px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 17px;
    display: flex;
    align-items: center;

    @include media($xl) {
      padding: 20px;
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-info {
      flex: 1;
      margin-right: 20px;
      line-height: 24px;
      font-size: 15px;
      font-weight: 500;
      color: $colorAccent;
    }

    &-answer {
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      display: block;
    }

    &-status {
      position: relative;
      text-align: center;
      flex: 0 0 155px;
      min-width: 155px;
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 600;

      @include media($xl) {
        min-width: 0;
        text-align: left;
        margin-top: 20px;
        padding-top: 20px;
        display: block;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -7px;
        height: calc(100% + 14px);
        border-right: 1px solid #e9e9e9;

        @include media($xl) {
          height: 0;
          width: 100%;
          top: 0;
          border-right: none;
          border-top: 1px solid #e9e9e9;
        }
      }

      &.bad {
        color: #ec3333;
      }
      &.success {
        color: #00ba6d;
      }
    }
  }
}