mixin popup-reg(modifier)
  .popup#reg.popup-reg&attributes(attributes)
    .popup__title Регистрация
    form.form.popup__content
      .popup-reg__title Вы?
      .popup-reg__tabs
        button(data-box="teacher").btn.btn--light Учитель
        button(data-box="directors").btn.btn--light Директор
      .popup-reg__boxs
        .popup-reg__box(data-box="teacher")
          .popup-reg__col
            label
              span Укажите регион в котором проживаете
              select
                option(value="") Новейший район
                option(value="") Новейший район 2
                option(value="") Новейший район 3
                option(value="") Новейший район 4
            label
              span Уточните город или район в котором ищете работу
              select
                option(value="") Новейший район
                option(value="") Новейший район 2
                option(value="") Новейший район 3
                option(value="") Новейший район 4
            label
              span Персональные данные
              input(type="text" name="lname" placeholder="Фамилия")
              input(type="text" name="fname" placeholder="Имя")
              input(type="text" name="ot" placeholder="Отчество")
              input(type="text" name="date" placeholder="Дата рождения (пример: 28.02.1997)")
            label
              span СНИЛС
              input(type="text" name="snils" placeholder="21312321")
            label
              span Квалификационная категория
              select
                option(value="") Первая
                option(value="") Вторая
                option(value="") Ещё одна
          .popup-reg__col
            .popup-reg__label
              span Стаж педагогической работы
              label.checkbox
                input(type="radio" name="exp" checked)
                span
                | Начало карьеры, выпускник
              label.checkbox
                input(type="radio" name="exp")
                span
                | 1-3 лет
              label.checkbox
                input(type="radio" name="exp")
                span
                | 3-5 лет
              label.checkbox
                input(type="radio" name="exp")
                span
                | Свыше 5 лет
            .popup-reg__label
              span Образование
              .popup-reg__label-cont
                .popup-reg__label-col
                  .popup-reg__label-col-top Высшее
                  .popup-reg__label-col-cont
                    input(type="text" name="" placeholder="Специальность")
                    input(type="text" name="" placeholder="Квалификация")
                    input(type="text" name="" placeholder="Дата выдачи диплома")
                    input(type="text" name="" placeholder="Номер диплома")
                .popup-reg__label-col
                  .popup-reg__label-col-top Среднее профессиональное
                  .popup-reg__label-col-cont
                    input(type="text" name="" placeholder="Специальность")
                    input(type="text" name="" placeholder="Квалификация")
                    input(type="text" name="" placeholder="Дата выдачи диплома")
                    input(type="text" name="" placeholder="Номер диплома")
            .popup-reg__label
              span Дополнительное профессиональное образование
              .popup-reg__label-cont
                .popup-reg__label-col
                  .popup-reg__label-col-top.popup-reg__label-col-top--alt Переподготовка
                  .popup-reg__label-col-cont
                    input(type="text" name="" placeholder="Программа")
                .popup-reg__label-col
                  .popup-reg__label-col-top.popup-reg__label-col-top--alt КПК
                  .popup-reg__label-col-cont
                    input(type="text" name="" placeholder="Программа")
            label
              span Ученная степень / Ученное звание
              input(type="text" name="title" placeholder="Доктор наук")
          label
            span Дополнительная информация
            input(type="text" name="mess" placeholder="Например: Достижения")
          label.checkbox.checkbox--person
            input(type="checkbox" name="check[]")
            span
            | Соглашаюсь на обработку персональных данных
        .popup-reg__box(data-box="directors")
          .popup-reg__col
            label
              span Персональные данные
              input(type="text" name="lname" placeholder="Фамилия")
              input(type="text" name="fname" placeholder="Имя")
              input(type="text" name="ot" placeholder="Отчество")
              input(type="text" name="date" placeholder="Дата рождения (пример: 28.02.1997)")
            label
              span СНИЛС
              input(type="text" name="snils" placeholder="21312321")
          .popup-reg__col
            label
              span Укажите регион в котором проживаете
              select
                option(value="") Новейший район
                option(value="") Новейший район 2
                option(value="") Новейший район 3
                option(value="") Новейший район 4
            label
              span Образовательная организация
              input(type="text" name="exp" placeholder="СШ 3")
            label
              span E-mail
              input(type="email" name="email" placeholder="E-mail")
            label
              span Телефон
              input(type="tel" name="phone" placeholder="Телефон")
          label.checkbox.checkbox--person
            input(type="checkbox" name="check[]")
            span
            | Соглашаюсь на обработку персональных данных
      .form__action
        a(href="#login").js-popup
          +icon('long-arrow-left')
          | Вернуться и войти
        input(type="submit" name="submit" value="Зарегистрироваться").btn.btn--accent