.popup-reg {
  width: 100%;
  max-width: 394px;

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__tabs {
    display: flex;
    justify-content: center;

    .btn {
      flex: 0 0 calc(50% - 8px);
      width: calc(50% - 8px);
      max-width: 251px;
      height: 40px;
      font-size: 13px;
      margin-right: 16px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: -3px;
        transform: translateX(-50%) rotate(45deg);
        width: 10px;
        height: 10px;
        background: #fff;
        border-bottom: 2px solid $colorAccent;
        border-right: 2px solid $colorAccent;
        opacity: 0;
      }

      &.active {
        font-weight: 600;
        border-width: 2px;

        &:after {
          opacity: 1;
        }

        &:hover {
          background: #fff;
          color: $colorAccent;
        }
      }
    }
  }

  &__boxs {
    display: none;
  }

  &__box {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;

    & > label {
      flex: 0 0 100%;
    }

    &.active {
      display: flex;

      @include media($sm) {
        display: block;
      }
    }
  }

  .jq-selectbox {
    width: 100%;
  }

  .jq-selectbox__select {
    height: 42px;
    padding-left: 16px;
  }

  .jq-selectbox__select-text {
    font-size: 12px;
    font-weight: 400;
  }

  &__col {
    flex: 0 0 calc(50% - 12px);
    width: 100%;
    max-width: calc(50% - 12px);

    @include media($sm) {
      max-width: 100%;
    }
  }

  .form__action {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      background-color: transparent;
      border: none;
      box-shadow: none;
      font-size: 14px;
      color: $colorAccent;
      cursor: pointer;

      .icon {
        margin-right: 9px;
        position: relative;
        bottom: -3px;
        font-size: 16px;
      }
    }

    input[type="submit"] {
      display: none;
    }
  }

  .form {
    .popup-reg__label,
    label {
      margin-bottom: 12px;

      span {
        &:first-child {
          font-size: 12px;
        }
      }
    }
  }

  &__label {
    margin-bottom: 30px;

    &-cont {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      @include media($sm) {
        display: block;
      }

      input {
        // border-top: none !important;
        margin-top: -1px !important;
        border-radius: 0 !important;
        position: relative;
        z-index: 1;

        &:focus {
          z-index: 2;
        }

        &:last-child {
          border-radius: 0 0 4px 4px !important;
        }
      }
    }

    &-col {
      flex: 0 0 calc(50% - 8px);
      width: 100%;
      max-width: calc(50% - 8px);

      @include media($sm) {
        max-width: 100%;
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-top {
        height: 43px;
        border-radius: 3px 3px 0 0;
        background-color: #e4e4e4;
        display: flex;
        align-items: center;
        padding: 0 17px;
        overflow: hidden;
        font-size: 12px;
        line-height: 15px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -2px;
          right: 13px;
          transform: translateY(-50%) rotate(45deg);
          width: 5px;
          height: 5px;
          border-bottom: 1px solid #333;
          border-right: 1px solid #333;
        }

        &--alt {
          text-align: center;
          justify-content: center;

          &:after {
            display: none;
          }
        }
      }
    }

    span:first-child {
      display: block;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 10px;
      font-size: 12px;
    }

    label.checkbox {
      display: inline-flex;
      margin-right: 25px;
      font-size: 12px;

      input + span {
        width: 19px;
        min-width: 19px;
        height: 19px;

        &:before {
          top: 2px;
          left: 6px;
        }
      }
    }
  }

  &--full {
    max-width: 765px;

    .popup-reg__title {
      text-align: center;
    }

    .popup-reg__tabs {
      margin-bottom: 40px;
    }

    .popup-reg__boxs {
      display: block;
    }

    .form__action {
      justify-content: space-between;

      @include media($min) {
        display: block;
        text-align: center;
      }

      a {
        margin-left: auto;
        margin-right: auto;

        @include media($min) {
          margin-bottom: 15px;
          display: inline-block;
        }
      }

      input[type="submit"] {
        height: 48px;
        display: flex;
        width: calc(50% - 12px);

        @include media($min) {
          width: 100%;
        }
      }
    }
  }
}