include ../blocks/header/header
include ../blocks/nav/nav
include ../blocks/btn/btn
include ../blocks/icon/icon
include ../blocks/title/title
include ../blocks/logo/logo
include ../blocks/burger/burger
include ../blocks/footer/footer
include ../blocks/singin-box/singin-box
include ../blocks/banner/banner
include ../blocks/platform/platform
include ../blocks/text/text
include ../blocks/popup/popup
include ../blocks/popup-login/popup-login
include ../blocks/form/form
include ../blocks/popup-reg/popup-reg
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/inner/inner
include ../blocks/contacts/contacts
include ../blocks/docs/docs
include ../blocks/rating-box/rating-box
include ../blocks/tabs/tabs
include ../blocks/accordion/accordion
include ../blocks/base/base
include ../blocks/person/person
include ../blocks/cabinet/cabinet
include ../blocks/testing/testing
include ../blocks/popup-testing/popup-testing
include ../blocks/popup-forgot-pas/popup-forgot-pas
include ../blocks/nav-aside/nav-aside
include ../blocks/prof-progress/prof-progress
include ../blocks/prof-testing/prof-testing
include ../blocks/prof-message/prof-message
include ../blocks/prof-education/prof-education
include ../blocks/prof/prof
include ../blocks/adm/adm
include ../blocks/pagination/pagination
