block variables

doctype html
html(lang="ru")
  include head
  include blocks

  body(class=pageClass)
    .wrapper
      +headerAlt(loginType)
      .content
        +nav-aside(navAsideObject)
        .inner
          block content
      +footerAlt()
      .hidden
        +popup-login()
        +popup-reg()
        +popup-forgot-pas()
        block popup
    script(src="js/main.js")
    block script