block variables

doctype html
html(lang="ru")
  include head
  include blocks

  body(class=pageClass)
    .wrapper
      if headerAlt
        +headerAlt(loginType)
      else
        +header(loginType)
      main.content
        block content
      if footerAlt
        +footerAlt()
      else
        +footer()
      .hidden
        +popup-login()
        +popup-reg()
        +popup-forgot-pas()
        block popup
    script(src="js/main.js")
    block script