.nav-aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 268px;
  height: calc(100% + 109px);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: $colorAccent;

  @include media($md) {
    width: 50px;
  }

  &.scrolled {
    position: fixed;
    height: 100vh;
  }

  li {
    position: relative;

    &:first-child {
      a {
        margin-top: 0;
      }
    }

    a {
      display: block;
      color: #f6f6f6;
      font-size: 14px;
      line-height: 1;
      padding: 16px 40px;
      position: relative;
      margin-top: -1px;
      border-bottom: 1px solid rgba(#ffffff,.1);

      @include media($md) {
        padding: 0;
        font-size: 0;
        height: 50px;
      }

      &:hover,
      &.active {
        background: #12286f;
        border-bottom-color: #12286f;
      }

      &.active {

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%) rotate(-45deg);
          width: 5px;
          height: 5px;
          border-bottom: 1px solid #f6f6f6;
          border-right: 1px solid #f6f6f6;

          @include media($md) {
            display: none;
          }
        }
      }

      .icon {
        font-size: 14px;
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);

        @include media($md) {
          font-size: 18px;
        }
      }

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 13px;
        padding: 0 3px;
        height: 20px;
        min-width: 20px;
        border-radius: 3px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-size: 12px;
        font-weight: 700;
        z-index: 2;
        color: $colorAccent;

        @include media($md) {
          right: 5px;
          bottom: 5px;
          top: auto;
          transform: translateY(0);
          font-size: 10px;
          min-width: 15px;
          height: 15px;
        }
      }
    }
  }
}