mixin nav-aside(navAsideObject)
  nav.nav-aside&attributes(attributes)
    ul
      each object in navAsideObject
        li
          a(href= object.href || "#", class= (object.name == navAsidePage) ? "active": "")
            if object.iconName
              +icon(object.iconName)
            = object.name
            if object.num
              span= object.num