.breadcrumbs {

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  li {
    margin-bottom: 5px;
    font-size: 14px;
    padding-right: 12px;
    margin-right: 12px;
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      right: 0;
      content: '';
      width: 6px;
      height: 6px;
      border-bottom: 1px solid #888;
      border-right: 1px solid #888;
      transform: translateY(-50%) rotate(-45deg);
    }

    &:last-child {
      padding-right: 0;
      margin-right: 0;

      &:after {
        display: none;
      }
    }
  }

  a {
    color: $colorAccent;
    line-height: 1;

    .icon {
      margin-right: 4px;
      font-size: 15px;
      position: relative;
      bottom: -1px;
    }
  }

  span {
    color: #888888;
  }
}