mixin breadcrumbs(object)
  .breadcrumbs&attributes(attributes)
    .container
      ul
        li
          a(href="index.html")
            +icon('home') 
            | Главная
        each href,name in object
          li
            if href
              a(href= href)= name
            else
              span= name