.prof-message {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &__top {
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    color: $colorAccent;
    line-height: 22px;
  }

  &__date {
    color: #888888;
    font-size: 14px;
  }

  &__content {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 25px;
      margin-bottom: -6px;
      bottom: 100%;
      transform: rotate(45deg);
      width: 12px;
      height: 12px;
      background-color: #fff;
    }
  }
}