.testing {
  padding-top: 30px;

  header {
    p {
      line-height: 1;
      color: $colorAccent;
      margin-bottom: 11px;
      text-transform: uppercase;
      font-size: 16px;
    }

    h2 {
      padding-bottom: 0;
      margin-bottom: 20px;

      &:after {
        display: none;
      }
    }
  }

  &-time {
    margin-bottom: 28px;
    padding-left: 42px;
    position: relative;
    font-size: 14px;
    line-height: 20px;

    .icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: $colorAccent;
      font-size: 32px;
    }

    &__title {
      color: #888888;
    }
  }

  &-steps {
    display: flex;
    margin-bottom: 25px;
    margin-left: -10px;
  }

  &-step {
    flex: 1;
    margin-left: 10px;
    height: 5px;
    border-radius: 3px;
    background-color: #e7e7e7;
    transition: .3s;
    position: relative;

    &.active {
      background-color: $colorAccent;

      &:after {
        opacity: 1;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 13px solid #fff;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      opacity: 0;
    }
  }

  .inner-content {
    padding: 40px 50px 50px;

    @include media($sm) {
      padding: 20px;
    }
  }

  &-item {
    display: none;

    &.active {
      display: block;
    }

    &__question {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 30px;

      @include media($xl) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &-controls {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .btn {
      width: 100%;
      max-width: 239px;
      height: 51px;
      font-size: 16px;
      font-weight: 500;
      margin-right: 28px;

      @include media($xl) {
        max-width: 100%;
        margin-right: 0;
      }
    }
  }

  &-iteration {
    font-size: 18px;
    line-height: 1;

    @include media($xl) {
      display: none;
    }
  }

  .form {
    label {
      color: #545353;
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      &.checkbox,
      &.radio {
        font-size: 16px;
        align-items: flex-start;
      }

      select,
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="password"] {
        height: 50px;
      }
    }
  }
}