mixin singin-box(loginType)
  .singin-box&attributes(attributes)
    if loginType
      a(href="profile-main.html")
        +icon('user') 
        | Комаровский Андрей
      span
      a(href="#")
        +icon('logout')
    else
      a(href="#login").js-popup
        +icon('user') 
        | Вход
      |  / 
      a(href="#reg").js-popup Регистрация