.singin-box {
  text-transform: uppercase;
  color: $colorAccent;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;

  a {
    color: inherit;
  }

  .icon {
    &-user {
      margin-right: 9px;
      font-size: 12px;
    }
    &-logout {
      font-size: 16px;
      position: relative;
      bottom: -2px;
    }
  }

  span {
    display: inline-block;
    margin: 0 12px;
    border-right: 1px solid #d3d3d3;
    height: 19px;
    vertical-align: middle;
    margin-top: -2px;
  }
}