.popup-testing {
  width: 100%;
  max-width: 550px;

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: 600;
  }

  &__num {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    @include media($min) {
      display: block;
    }
  }

  &__points {
    font-size: 84px;
    font-weight: 600;
    line-height: 1;
    color: $colorAccent;
    flex: 0 0 50%;
    width: 50%;

    @include media($min) {
      width: 100%;
    }
  }

  &__status {
    font-size: 22px;
    font-weight: 600;
    flex: 0 0 50%;
    width: 50%;
    text-align: center;
    position: relative;

    @include media($min) {
      width: 100%;
      text-align: left;
    }

    &:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      transform: translateX(-50%);
      width: 53px;
      height: 2px;
      background-color: #e9e9e9;

      @include media($min) {
        display: none;
      }
    }

    &.success {
      color: #00ba6d;
    }

    &.bad {
      color: #ec3333;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(55% - 15px);
    margin-bottom: 15px;

    @include media($min) {
      width: 100%;
    }

    &:nth-child(even) {
      width: calc(45% - 15px);

      @include media($min) {
        width: 100%;
      }
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:nth-last-child(2) {
      @include media($min) {
        margin-bottom: 15px;
      }
    }



    &-name {
      font-size: 15px;
      line-height: 1.2;
      font-weight: 500;
      margin-bottom: 5px;
    }
    &-val {
      color: #666666;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__bottom {
    margin-top: 24px;
    border-top: 1px solid #e9e9e9;
    width: calc(100% + 48px);
    margin-left: -24px;
    padding: 24px 24px 0;
    font-size: 15px;
    font-weight: 500;
    color: #ec3333;

    .icon {
      display: inline-block;
      font-size: 24px;
      margin-right: 9px;
      vertical-align: middle;
    }

    span {
      color: #333333;
      white-space: nowrap;
    }
  }
}