mixin popup-testing(modifier)
  .popup#popup-testing.popup-testing&attributes(attributes)
    .popup__title Результат тестирования
    .popup__content
      .popup-testing__title итоговый балл
      .popup-testing__num
        .popup-testing__points 96%
        .popup-testing__status.success Зачет
      .popup-testing__items
        .popup-testing__item
          .popup-testing__item-name Вид теста
          .popup-testing__item-val Квалифицированное испытание
        .popup-testing__item
          .popup-testing__item-name Времени затрачено
          .popup-testing__item-val 20 мин
        .popup-testing__item
          .popup-testing__item-name Компетенция
          .popup-testing__item-val Коммуникативная компетенция
        .popup-testing__item
          .popup-testing__item-name Количество вопросов
          .popup-testing__item-val 10

  .popup#popup-testing-bad.popup-testing&attributes(attributes)
    .popup__title Результат тестирования
    .popup__content
      .popup-testing__title итоговый балл
      .popup-testing__num
        .popup-testing__points 96%
        .popup-testing__status.bad Незачет
      .popup-testing__items
        .popup-testing__item
          .popup-testing__item-name Вид теста
          .popup-testing__item-val Квалифицированное испытание
        .popup-testing__item
          .popup-testing__item-name Времени затрачено
          .popup-testing__item-val 20 мин
        .popup-testing__item
          .popup-testing__item-name Компетенция
          .popup-testing__item-val Коммуникативная компетенция
        .popup-testing__item
          .popup-testing__item-name Количество вопросов
          .popup-testing__item-val 10
      .popup-testing__bottom
        +icon('calendar') 
        | Срок пересдачи тестирования: 
        span 30 дней