.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  border: 1px solid;
  transition: .3s;
  cursor: pointer;

  &--accent {
    color: #fff;
    border-color: $colorAccent;
    background-color: $colorAccent;
  }

  &--light {
    color: $colorAccent;
    border-color: $colorAccent;
    background-color: transparent;

    &:hover {
      background-color: $colorAccent;
      color: #fff;
    }
  }
}