.nav {

  & > ul {
    display: flex;
    justify-content: flex-end;

    @include media($lg) {
      display: block;
    }

    & > li {
      margin-left: 40px;

      @include media($lg) {
        margin-left: 0;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.active {
        a {
          color: $colorAccent;
        }
      }

      &.droped {
        position: relative;

        &:hover {
          ul {
            opacity: 1;
            visibility: visible;

            @include media($lg) {
              display: block;
            }
          }

          & > a {
            color: $colorAccent;
          }
        }

        & > a {
          display: block;
          position: relative;
          padding-right: 15px;

          @include media($lg) {
            color: inherit;
            display: inline-block;
          }

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 9px;
            width: 7px;
            height: 7px;
            border-bottom: 1px solid;
            border-right: 1px solid;
            transform: rotate(45deg) translateY(-8px);

            @include media($lg) {
              right: 3px;
            }
          }
        }
      }

      & > a {
        font-weight: 600;
        transition: .3s;

        &:hover {
          color: $colorAccent;

          @include media($lg) {
            color: inherit;
          }
        }
      }

      ul {
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        position: absolute;
        top: 100%;
        margin-top: 5px;
        left: 0;
        min-width: 100%;
        box-shadow: 0 7px 13px 2px rgba(42, 42, 42, 0.15);
        background-color: #ffffff;
        border-top: 2px solid $colorAccent;
        padding: 24px;
        z-index: 10;

        @include media($lg) {
          position: static;
          display: none;
          box-shadow: none;
          background-color: transparent;
          border: none;
          padding: 10px 0 20px;
        }

        li {
          margin-bottom: 14px;

          &.active {
            a {
              color: $colorAccent;
              font-weight: 600;

              @include media($lg) {
                color: inherit;
              }
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        a {
          font-size: 15px;
          color: #555555;
          white-space: nowrap;

          &:hover {
            color: $colorAccent;
            font-weight: 500;
          }
        }
      }
    }

  }
}