mixin nav(modifier)
  .nav&attributes(attributes)
    ul
      each object in main.nav.mainNav
        li(class= object.drop ? "droped" : "", class= (pageType == object.name) ? "active" : "")
          a(href= object.href || "#")= object.name
          if object.drop
            ul
              each href,link in object.drop
                li(class= (pageType == link) ? "active" : "")
                  a(href= href)= link