h2 {
  color: #333333;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 21px;
  position: relative;
  margin-bottom: 30px;

  @include media($sm) {
    font-size: 28px;
  }

  @include media($xl) {
    font-size: 24px;
    padding-bottom: 15px;
  }

  &.title-alt {
    margin-bottom: 22px;
    font-size: 26px;
    padding-bottom: 0;

    @include media($xl) {
      font-size: 24px;
    }

    &:after {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 123px;
    border-bottom: 3px solid $colorAccent;

    @include media($xl) {
      width: 90px;
      border-bottom-width: 2px;
    }
  }
}

h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px;
  line-height: 1;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 18px;
  line-height: 1;
}