.inner {
  padding-bottom: 71px;

  @include media($xl) {
    padding-bottom: 40px;
  }

  &--alt {
    padding-top: 56px;
  }

  &-content {
    border-radius: 4px;
    background-color: #ffffff;

    &__box {
      padding: 24px;
      border-bottom: 1px solid #e9e9e9;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}