.prof-education {

  .prof-box__top {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      width: 5px;
      height: 5px;
      border-bottom: 1px solid #333;
      border-right: 1px solid #333;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  .prof-content__col {
    & > label {
      select,
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="password"] {
        height: 50px;
        font-size: 14px;
      }
    }
  }

  .form {
    &-action {
      margin-top: 30px;

      .btn {
        width: 100%;
        max-width: 504px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}