mixin footer(modifier)
  footer.footer&attributes(attributes)
    .container
      .footer__content
        +logo()
        .footer__copy © 2019 Реестр резерва педагогических кадров Чеченской Республики.
          span
          a(href="text.html") Политика конфиденциальности

mixin footerAlt(modifier)
  footer.footer.footer--alt&attributes(attributes)
    .footer__content
      .footer__copy © 2019 Реестр резерва педагогических кадров Чеченской Республики.
        span
        a(href="text.html") Политика конфиденциальности