.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  color: #fff;

  &--alt {
    .footer__content {
      padding-left: 20px;
      padding-right: 20px;
      justify-content: center;
    }

    .footer__copy {
      text-align: center;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 109px;

    .logo {
      @include media($sm) {
        display: none;
      }
    }
  }

  &__copy,
  a {
    color: inherit;
  }

  &__copy {
    font-size: 14px;
    text-align: right;

    @include media($md) {
      font-size: 13px;
    }

    @include media($sm) {
      text-align: center;
    }

    span {
      height: 23px;
      border-right: 1px solid rgba(#e3e3e3,.3);
      margin: 0 15px;

      @include media($min) {
        display: none;
      }
    }

    a {
      font-weight: 400;
      text-decoration: underline;
      white-space: nowrap;

      @include media($min) {
        display: block;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}