.docs {
  background-color: #ffffff;
  border-radius: 4px;

  &-item {
    display: block;
    position: relative;
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 50px 20px 60px;
    font-size: 14px;
    line-height: 20px;
    min-height: 58px;

    @include media($md) {
      padding: 20px 20px 20px 60px;
    }

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      text-decoration: underline;
      color: $colorAccent;

      .icon-download {
        opacity: 1;
      }
    }

    .icon {
      color: $colorAccent;
      position: absolute;
      margin-top: 3px;
      top: 50%;
      transform: translateY(-50%);

      &-file {
        font-size: 30px;
        left: 20px;
      }
      &-download {
        font-size: 18px;
        opacity: 0;
        right: 20px;

        @include media($md) {
          display: none;
        }
      }
    }
  }
}