extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].admin;
  - var navAsidePage = "Контакты";
  - var offMainNav = true;

block content
  header
    h2.title-alt Контакты
  .prof-content
    form.form
      .prof-box
        .prof-box__top Адрес
        .prof-box__content
          label
            span Укажите Адрес
            input(type="text" name="" placeholder="")
      .prof-box
        .prof-box__top Телефон
        .prof-box__content
          label
            span Укажите Телефон
            input(type="tel" name="" placeholder="")
      .prof-box
        .prof-box__top Время работы
        .prof-box__content
          label
            span Укажите Время работы
            input(type="text" name="" placeholder="")
      .prof-box
        .prof-box__top Почта
        .prof-box__content
          label
            span Укажите Почту
            input(type="email" name="" placeholder="")
      .prof-box
        .prof-box__top Карта
        .prof-box__content
          label
            span Введите коордианты
            input(type="text" name="" placeholder="")

      .form-action
        input(type="submit" name="submit" value="Сохранить изменения").btn.btn--light