extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].admin;
  - var navAsidePage = "Впервые на сайте ?";
  - var offMainNav = true;

block content
  header
    h2.title-alt Впервые на сайте ?
  .adm-first-visit
    .base-cards
      - for ( var i = 1; i <= 9; i++ ) {
        .base-card
          .base-card__content
            .base-card__top
              .base-card__name Новая система образования коснулась Чеченскую Республику
            .base-card__actions
              a(href="#").btn.btn--light Редактировать
              button.adm-search__item-del
                span
                | Удалить
      - }
    .prof-progress__actions.form-action
      button.btn.btn--light.prof-progress__add
        +icon('add') 
        | Добавить новый документ
      button.btn.btn--light Сохранить изменения