block variables

doctype html
html(lang="ru")
  include ../templates/head
  include ../templates/blocks

  body(class=pageClass)
    .adm-enter
      form.form
        +logo()
        label
          input(type="text" name="" placeholder="Имя пользователя или E-mail")
        label
          input(type="password" name="" placeholder="Пароль")
        .form__action
          label.checkbox
            input(type="checkbox" name="")
            span
            | Запомнить меня
          input(type="submit" name="submit" value="Войти").btn.btn--accent
        .adm-enter__bottom
          a(href="#")
            +icon('long-arrow-left') 
            | Назад к сайту “rezerv.com”
          a(href="#forgot-pas").js-popup Забыли пароль ?
      .hidden
        +popup-forgot-pas()
        block popup
    script(src="js/main.js")
    block script