extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].admin;
  - var navAsidePage = "Список учителей";
  - var offMainNav = true;

block content
  header
    h2.title-alt Список учителей
  form.form
    label
      span Поиск по ФИО или СНИЛС
      .form-input-line
        input(type="text" name="search" placeholder="Андрей Новиков")
        button.btn.btn--accent.btn-search
          +icon('search')
  .adm-search__result
    .adm-search__item
      .adm-search__item-name Малиновская Анастасия Николаевна
      .adm-search__item-date
        +icon('calendar-alt')
        | Дата прохождения тестирования: 
        span 23.04.2018
      a(href="#").btn.btn--light Подробнее
      button.adm-search__item-del
        span
        | Удалить
    .adm-search__item
      .adm-search__item-name Малиновская Анастасия Николаевна
      .adm-search__item-date
        +icon('calendar-alt')
        | Дата прохождения тестирования: 
        span.bad 23.04.2018
      a(href="#").btn.btn--light Подробнее
      button.adm-search__item-del
        span
        | Удалить
    - for ( var i = 1; i <= 8; i++ ) {
      .adm-search__item
        .adm-search__item-name Малиновская Анастасия Николаевна
        .adm-search__item-date
          +icon('calendar-alt')
          | Дата прохождения тестирования: 
          span 23.04.2018
        a(href="#").btn.btn--light Подробнее
        button.adm-search__item-del
          span
          | Удалить
      - }
  +pagination()