extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].admin;
  - var navAsidePage = "Документы";
  - var offMainNav = true;

block content
  header
    h2.title-alt Документы
  .prof-content
    form.form
      .prof-box
        .prof-box__top Новый документ
          a(href="#").prof-box__close
        .prof-box__content
          label
            span Название документа
            input(type="text" name="" placeholder="Какое-то название документа")
          label
            .form-input-line
              input(type="file" name="file[]")
              span Мой компьютер/Документы/document.jpg
              .btn.btn--accent Выберите файл
      .prof-box
        .prof-box__top Новый документ
          a(href="#").prof-box__close
        .prof-box__content
          label
            span Название документа
            input(type="text" name="" placeholder="Какое-то название документа")
          label
            .form-input-line
              input(type="file" name="file[]")
              span Мой компьютер/Документы/document.jpg
              .btn.btn--accent Выберите файл
      .prof-box
        .prof-box__top Новый документ
          a(href="#").prof-box__close
        .prof-box__content
          label
            span Название документа
            input(type="text" name="" placeholder="Какое-то название документа")
          label
            .form-input-line
              input(type="file" name="file[]")
              span Мой компьютер/Документы/document.jpg
              .btn.btn--accent Выберите файл
      .prof-box
        .prof-box__top Новый документ
          a(href="#").prof-box__close
        .prof-box__content
          label
            span Название документа
            input(type="text" name="" placeholder="Какое-то название документа")
          label
            .form-input-line
              input(type="file" name="file[]")
              span Мой компьютер/Документы/document.jpg
              .btn.btn--accent Выберите файл
      .prof-progress__actions.form-action
        button.btn.btn--light.prof-progress__add
          +icon('add') 
          | Добавить новый документ
        button.btn.btn--light Сохранить изменения