extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].admin;
  //- - var navAsidePage = "Главная";
  - var offMainNav = true;

block content
  header
    h2.title-alt Добавление нового теста
  .adm.adm-edit-test.prof-content
    .form.form--filter
      .prof-content__col
        label
          span Предмет
          select
            option(value="") Русский язык
            option(value="") Русский язык 2
            option(value="") Русский язык 3
            option(value="") Русский язык
            option(value="") Русский язык 2
            option(value="") Русский язык 3
            option(value="") Русский язык
            option(value="") Русский язык 2
            option(value="") Русский язык 3
            option(value="") Русский язык
            option(value="") Русский язык 2
            option(value="") Русский язык 3
            option(value="") Русский язык
            option(value="") Русский язык 2
            option(value="") Русский язык 3
        label
          span Вид теста
          select
            option(value="") Квалифицированное испытание
            option(value="") Квалифицированное испытание 2
            option(value="") Квалифицированное испытание 3
            option(value="") Квалифицированное испытание
            option(value="") Квалифицированное испытание 2
            option(value="") Квалифицированное испытание 3
            option(value="") Квалифицированное испытание
            option(value="") Квалифицированное испытание 2
            option(value="") Квалифицированное испытание 3
            option(value="") Квалифицированное испытание
            option(value="") Квалифицированное испытание 2
            option(value="") Квалифицированное испытание 3
            option(value="") Квалифицированное испытание
            option(value="") Квалифицированное испытание 2
            option(value="") Квалифицированное испытание 3
            option(value="") Квалифицированное испытание
            option(value="") Квалифицированное испытание 2
            option(value="") Квалифицированное испытание 3
            option(value="") Квалифицированное испытание
            option(value="") Квалифицированное испытание 2
            option(value="") Квалифицированное испытание 3
        .prof-box.prof-box--el
          .prof-box__top 1 вопрос
            button.prof-box__edit.js-box-edit
              +icon('pan')
          .prof-box__content.prof-box__content-question
            .prof-box__el
              .prof-box__el-name Вопрос
              .prof-box__el-val В каком году кто то сделал что то рассказал ему ?
            .prof-box__el
              .prof-box__el-name Вид ответа
              .prof-box__el-val Один вариант ответа
            .prof-box__el
              .prof-box__el-name Балл за верный ответ
              .prof-box__el-val 12
          .prof-box__content.prof-box__content-edit
            form
              label
                span Вопрос
                input(type="text" name="" placeholder="" value="В каком году кто то сделал что то ?")
              .form-line
                label
                  span Вид ответа
                  select.form-comb-type
                    option(value="one" selected) Один вариант ответа
                    option(value="eny") Несколько вариантов ответов
                    option(value="input") Ввод своего ответа
                label
                  span Балл за верный ответ
                  input(type="text" name="" placeholder="" value="12")
              .form-comb(data-box="one").active
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.radio.check-alt
                    | Наполеон
                    input(type="radio" name="radio1")
                    span
                  label.radio.check-alt
                    | Самый необычный
                    input(type="radio" name="radio1")
                    span
                  label.radio.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="radio" name="radio1")
                    span
                  label.radio.check-alt
                    | Какой то другой человек
                    input(type="radio" name="radio1")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="eny")
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.checkbox.check-alt
                    | Наполеон
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Самый необычный
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Какой то другой человек
                    input(type="checkbox" name="check[]")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="input")
                label
                  span Верный ответ
                  input(type="text" name="" placeholder="" value="Наполеон")
              .prof-box__action
                button.btn.btn--light Сохранить вопрос
                a(href="#").adm-search__item-del
                  span
                  | Удалить вопрос
        .prof-box.prof-box--el
          .prof-box__top 3 вопрос
            button.prof-box__edit.js-box-edit
              +icon('pan')
          .prof-box__content.prof-box__content-question
            .prof-box__el
              .prof-box__el-name Вопрос
              .prof-box__el-val В каком году кто то сделал что то рассказал ему ?
            .prof-box__el
              .prof-box__el-name Вид ответа
              .prof-box__el-val Один вариант ответа
            .prof-box__el
              .prof-box__el-name Балл за верный ответ
              .prof-box__el-val 12
          .prof-box__content.prof-box__content-edit
            form
              label
                span Вопрос
                input(type="text" name="" placeholder="" value="В каком году кто то сделал что то ?")
              .form-line
                label
                  span Вид ответа
                  select.form-comb-type
                    option(value="one" selected) Один вариант ответа
                    option(value="eny") Несколько вариантов ответов
                    option(value="input") Ввод своего ответа
                label
                  span Балл за верный ответ
                  input(type="text" name="" placeholder="" value="12")
              .form-comb(data-box="one").active
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.radio.check-alt
                    | Наполеон
                    input(type="radio" name="radio3")
                    span
                  label.radio.check-alt
                    | Самый необычный
                    input(type="radio" name="radio3")
                    span
                  label.radio.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="radio" name="radio3")
                    span
                  label.radio.check-alt
                    | Какой то другой человек
                    input(type="radio" name="radio3")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="eny")
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.checkbox.check-alt
                    | Наполеон
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Самый необычный
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Какой то другой человек
                    input(type="checkbox" name="check[]")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="input")
                label
                  span Верный ответ
                  input(type="text" name="" placeholder="" value="Наполеон")
              .prof-box__action
                button.btn.btn--light Сохранить вопрос
                a(href="#").adm-search__item-del
                  span
                  | Удалить вопрос
        .prof-box.prof-box--el
          .prof-box__top 5 вопрос
            button.prof-box__edit.js-box-edit
              +icon('pan')
          .prof-box__content.prof-box__content-question
            .prof-box__el
              .prof-box__el-name Вопрос
              .prof-box__el-val В каком году кто то сделал что то рассказал ему ?
            .prof-box__el
              .prof-box__el-name Вид ответа
              .prof-box__el-val Один вариант ответа
            .prof-box__el
              .prof-box__el-name Балл за верный ответ
              .prof-box__el-val 12
          .prof-box__content.prof-box__content-edit
            form
              label
                span Вопрос
                input(type="text" name="" placeholder="" value="В каком году кто то сделал что то ?")
              .form-line
                label
                  span Вид ответа
                  select.form-comb-type
                    option(value="one" selected) Один вариант ответа
                    option(value="eny") Несколько вариантов ответов
                    option(value="input") Ввод своего ответа
                label
                  span Балл за верный ответ
                  input(type="text" name="" placeholder="" value="12")
              .form-comb(data-box="one").active
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.radio.check-alt
                    | Наполеон
                    input(type="radio" name="radio5")
                    span
                  label.radio.check-alt
                    | Самый необычный
                    input(type="radio" name="radio5")
                    span
                  label.radio.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="radio" name="radio5")
                    span
                  label.radio.check-alt
                    | Какой то другой человек
                    input(type="radio" name="radio5")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="eny")
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.checkbox.check-alt
                    | Наполеон
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Самый необычный
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Какой то другой человек
                    input(type="checkbox" name="check[]")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="input")
                label
                  span Верный ответ
                  input(type="text" name="" placeholder="" value="Наполеон")
              .prof-box__action
                button.btn.btn--light Сохранить вопрос
                a(href="#").adm-search__item-del
                  span
                  | Удалить вопрос
        .prof-box.prof-box--el
          .prof-box__top 7 вопрос
            button.prof-box__edit.js-box-edit
              +icon('pan')
          .prof-box__content.prof-box__content-question
            .prof-box__el
              .prof-box__el-name Вопрос
              .prof-box__el-val В каком году кто то сделал что то рассказал ему ?
            .prof-box__el
              .prof-box__el-name Вид ответа
              .prof-box__el-val Один вариант ответа
            .prof-box__el
              .prof-box__el-name Балл за верный ответ
              .prof-box__el-val 12
          .prof-box__content.prof-box__content-edit
            form
              label
                span Вопрос
                input(type="text" name="" placeholder="" value="В каком году кто то сделал что то ?")
              .form-line
                label
                  span Вид ответа
                  select.form-comb-type
                    option(value="one" selected) Один вариант ответа
                    option(value="eny") Несколько вариантов ответов
                    option(value="input") Ввод своего ответа
                label
                  span Балл за верный ответ
                  input(type="text" name="" placeholder="" value="12")
              .form-comb(data-box="one").active
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.radio.check-alt
                    | Наполеон
                    input(type="radio" name="radio7")
                    span
                  label.radio.check-alt
                    | Самый необычный
                    input(type="radio" name="radio7")
                    span
                  label.radio.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="radio" name="radio7")
                    span
                  label.radio.check-alt
                    | Какой то другой человек
                    input(type="radio" name="radio7")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="eny")
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.checkbox.check-alt
                    | Наполеон
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Самый необычный
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Какой то другой человек
                    input(type="checkbox" name="check[]")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="input")
                label
                  span Верный ответ
                  input(type="text" name="" placeholder="" value="Наполеон")
              .prof-box__action
                button.btn.btn--light Сохранить вопрос
                a(href="#").adm-search__item-del
                  span
                  | Удалить вопрос
        .prof-box.prof-box--el
          .prof-box__top 9 вопрос
            button.prof-box__edit.js-box-edit
              +icon('pan')
          .prof-box__content.prof-box__content-question
            .prof-box__el
              .prof-box__el-name Вопрос
              .prof-box__el-val В каком году кто то сделал что то рассказал ему ?
            .prof-box__el
              .prof-box__el-name Вид ответа
              .prof-box__el-val Один вариант ответа
            .prof-box__el
              .prof-box__el-name Балл за верный ответ
              .prof-box__el-val 12
          .prof-box__content.prof-box__content-edit
            form
              label
                span Вопрос
                input(type="text" name="" placeholder="" value="В каком году кто то сделал что то ?")
              .form-line
                label
                  span Вид ответа
                  select.form-comb-type
                    option(value="one" selected) Один вариант ответа
                    option(value="eny") Несколько вариантов ответов
                    option(value="input") Ввод своего ответа
                label
                  span Балл за верный ответ
                  input(type="text" name="" placeholder="" value="12")
              .form-comb(data-box="one").active
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.radio.check-alt
                    | Наполеон
                    input(type="radio" name="radio9")
                    span
                  label.radio.check-alt
                    | Самый необычный
                    input(type="radio" name="radio9")
                    span
                  label.radio.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="radio" name="radio9")
                    span
                  label.radio.check-alt
                    | Какой то другой человек
                    input(type="radio" name="radio9")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="eny")
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.checkbox.check-alt
                    | Наполеон
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Самый необычный
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Какой то другой человек
                    input(type="checkbox" name="check[]")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="input")
                label
                  span Верный ответ
                  input(type="text" name="" placeholder="" value="Наполеон")
              .prof-box__action
                button.btn.btn--light Сохранить вопрос
                a(href="#").adm-search__item-del
                  span
                  | Удалить вопрос
      .prof-content__col
        label
          span Выбор компетенции
          select
            option(value="") Коммуникативная компетенция
            option(value="") Коммуникативная компетенция 2
            option(value="") Коммуникативная компетенция 3
        label
          span Проходной балл для зачета
          input(type="text" name="" placeholder="86")
        .prof-box.prof-box--el
          .prof-box__top 2 вопрос
            button.prof-box__edit.js-box-edit
              +icon('pan')
          .prof-box__content.prof-box__content-question
            .prof-box__el
              .prof-box__el-name Вопрос
              .prof-box__el-val В каком году кто то сделал что то рассказал ему ?
            .prof-box__el
              .prof-box__el-name Вид ответа
              .prof-box__el-val Один вариант ответа
            .prof-box__el
              .prof-box__el-name Балл за верный ответ
              .prof-box__el-val 12
          .prof-box__content.prof-box__content-edit
            form
              label
                span Вопрос
                input(type="text" name="" placeholder="" value="В каком году кто то сделал что то ?")
              .form-line
                label
                  span Вид ответа
                  select.form-comb-type
                    option(value="one" selected) Один вариант ответа
                    option(value="eny") Несколько вариантов ответов
                    option(value="input") Ввод своего ответа
                label
                  span Балл за верный ответ
                  input(type="text" name="" placeholder="" value="12")
              .form-comb(data-box="one").active
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.radio.check-alt
                    | Наполеон
                    input(type="radio" name="radio2")
                    span
                  label.radio.check-alt
                    | Самый необычный
                    input(type="radio" name="radio2")
                    span
                  label.radio.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="radio" name="radio2")
                    span
                  label.radio.check-alt
                    | Какой то другой человек
                    input(type="radio" name="radio2")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="eny")
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.checkbox.check-alt
                    | Наполеон
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Самый необычный
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Какой то другой человек
                    input(type="checkbox" name="check[]")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="input")
                label
                  span Верный ответ
                  input(type="text" name="" placeholder="" value="Наполеон")
              .prof-box__action
                button.btn.btn--light Сохранить вопрос
                a(href="#").adm-search__item-del
                  span
                  | Удалить вопрос
        .prof-box.prof-box--el
          .prof-box__top 4 вопрос
            button.prof-box__edit.js-box-edit
              +icon('pan')
          .prof-box__content.prof-box__content-question
            .prof-box__el
              .prof-box__el-name Вопрос
              .prof-box__el-val В каком году кто то сделал что то рассказал ему ?
            .prof-box__el
              .prof-box__el-name Вид ответа
              .prof-box__el-val Один вариант ответа
            .prof-box__el
              .prof-box__el-name Балл за верный ответ
              .prof-box__el-val 12
          .prof-box__content.prof-box__content-edit
            form
              label
                span Вопрос
                input(type="text" name="" placeholder="" value="В каком году кто то сделал что то ?")
              .form-line
                label
                  span Вид ответа
                  select.form-comb-type
                    option(value="one" selected) Один вариант ответа
                    option(value="eny") Несколько вариантов ответов
                    option(value="input") Ввод своего ответа
                label
                  span Балл за верный ответ
                  input(type="text" name="" placeholder="" value="12")
              .form-comb(data-box="one").active
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.radio.check-alt
                    | Наполеон
                    input(type="radio" name="radio4")
                    span
                  label.radio.check-alt
                    | Самый необычный
                    input(type="radio" name="radio4")
                    span
                  label.radio.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="radio" name="radio4")
                    span
                  label.radio.check-alt
                    | Какой то другой человек
                    input(type="radio" name="radio4")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="eny")
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.checkbox.check-alt
                    | Наполеон
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Самый необычный
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Какой то другой человек
                    input(type="checkbox" name="check[]")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="input")
                label
                  span Верный ответ
                  input(type="text" name="" placeholder="" value="Наполеон")
              .prof-box__action
                button.btn.btn--light Сохранить вопрос
                a(href="#").adm-search__item-del
                  span
                  | Удалить вопрос
        .prof-box.prof-box--el
          .prof-box__top 6 вопрос
            button.prof-box__edit.js-box-edit
              +icon('pan')
          .prof-box__content.prof-box__content-question
            .prof-box__el
              .prof-box__el-name Вопрос
              .prof-box__el-val В каком году кто то сделал что то рассказал ему ?
            .prof-box__el
              .prof-box__el-name Вид ответа
              .prof-box__el-val Один вариант ответа
            .prof-box__el
              .prof-box__el-name Балл за верный ответ
              .prof-box__el-val 12
          .prof-box__content.prof-box__content-edit
            form
              label
                span Вопрос
                input(type="text" name="" placeholder="" value="В каком году кто то сделал что то ?")
              .form-line
                label
                  span Вид ответа
                  select.form-comb-type
                    option(value="one" selected) Один вариант ответа
                    option(value="eny") Несколько вариантов ответов
                    option(value="input") Ввод своего ответа
                label
                  span Балл за верный ответ
                  input(type="text" name="" placeholder="" value="12")
              .form-comb(data-box="one").active
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.radio.check-alt
                    | Наполеон
                    input(type="radio" name="radio6")
                    span
                  label.radio.check-alt
                    | Самый необычный
                    input(type="radio" name="radio6")
                    span
                  label.radio.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="radio" name="radio6")
                    span
                  label.radio.check-alt
                    | Какой то другой человек
                    input(type="radio" name="radio6")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="eny")
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.checkbox.check-alt
                    | Наполеон
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Самый необычный
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Какой то другой человек
                    input(type="checkbox" name="check[]")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="input")
                label
                  span Верный ответ
                  input(type="text" name="" placeholder="" value="Наполеон")
              .prof-box__action
                button.btn.btn--light Сохранить вопрос
                a(href="#").adm-search__item-del
                  span
                  | Удалить вопрос
        .prof-box.prof-box--el
          .prof-box__top 8 вопрос
            button.prof-box__edit.js-box-edit
              +icon('pan')
          .prof-box__content.prof-box__content-question
            .prof-box__el
              .prof-box__el-name Вопрос
              .prof-box__el-val В каком году кто то сделал что то рассказал ему ?
            .prof-box__el
              .prof-box__el-name Вид ответа
              .prof-box__el-val Один вариант ответа
            .prof-box__el
              .prof-box__el-name Балл за верный ответ
              .prof-box__el-val 12
          .prof-box__content.prof-box__content-edit
            form
              label
                span Вопрос
                input(type="text" name="" placeholder="" value="В каком году кто то сделал что то ?")
              .form-line
                label
                  span Вид ответа
                  select.form-comb-type
                    option(value="one" selected) Один вариант ответа
                    option(value="eny") Несколько вариантов ответов
                    option(value="input") Ввод своего ответа
                label
                  span Балл за верный ответ
                  input(type="text" name="" placeholder="" value="12")
              .form-comb(data-box="one").active
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.radio.check-alt
                    | Наполеон
                    input(type="radio" name="radio8")
                    span
                  label.radio.check-alt
                    | Самый необычный
                    input(type="radio" name="radio8")
                    span
                  label.radio.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="radio" name="radio8")
                    span
                  label.radio.check-alt
                    | Какой то другой человек
                    input(type="radio" name="radio8")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="eny")
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.checkbox.check-alt
                    | Наполеон
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Самый необычный
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Какой то другой человек
                    input(type="checkbox" name="check[]")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="input")
                label
                  span Верный ответ
                  input(type="text" name="" placeholder="" value="Наполеон")
              .prof-box__action
                button.btn.btn--light Сохранить вопрос
                a(href="#").adm-search__item-del
                  span
                  | Удалить вопрос
        .prof-box.prof-box--el
          .prof-box__top 10 вопрос
            button.prof-box__edit.js-box-edit
              +icon('pan')
          .prof-box__content.prof-box__content-question
            .prof-box__el
              .prof-box__el-name Вопрос
              .prof-box__el-val В каком году кто то сделал что то рассказал ему ?
            .prof-box__el
              .prof-box__el-name Вид ответа
              .prof-box__el-val Один вариант ответа
            .prof-box__el
              .prof-box__el-name Балл за верный ответ
              .prof-box__el-val 12
          .prof-box__content.prof-box__content-edit
            form
              label
                span Вопрос
                input(type="text" name="" placeholder="" value="В каком году кто то сделал что то ?")
              .form-line
                label
                  span Вид ответа
                  select.form-comb-type
                    option(value="one" selected) Один вариант ответа
                    option(value="eny") Несколько вариантов ответов
                    option(value="input") Ввод своего ответа
                label
                  span Балл за верный ответ
                  input(type="text" name="" placeholder="" value="12")
              .form-comb(data-box="one").active
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.radio.check-alt
                    | Наполеон
                    input(type="radio" name="radio10")
                    span
                  label.radio.check-alt
                    | Самый необычный
                    input(type="radio" name="radio10")
                    span
                  label.radio.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="radio" name="radio10")
                    span
                  label.radio.check-alt
                    | Какой то другой человек
                    input(type="radio" name="radio10")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="eny")
                .form-comb__list
                  .label-title Варианты ответа (отметьте чекмарком верный)
                  label.checkbox.check-alt
                    | Наполеон
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Самый необычный
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Еще один предтендент на победу в тесте
                    input(type="checkbox" name="check[]")
                    span
                  label.checkbox.check-alt
                    | Какой то другой человек
                    input(type="checkbox" name="check[]")
                    span
                a(href="#").form-comb__add
                  +icon('add') 
                  | Добавить вариант ответа
              .form-comb(data-box="input")
                label
                  span Верный ответ
                  input(type="text" name="" placeholder="" value="Наполеон")
              .prof-box__action
                button.btn.btn--light Сохранить вопрос
                a(href="#").adm-search__item-del
                  span
                  | Удалить вопрос
      .prof-progress__actions.form-action
        button.btn.btn--light.prof-progress__add
          +icon('add') 
          | Добавить новый вопрос
        button.btn.btn--light Сохранить изменения