extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].admin;
  - var navAsidePage = "Тестирование";
  - var offMainNav = true;

block content
  header
    h2.title-alt Тестирование
  .prof-content.adm-testing
    .prof-progress__actions.form-action
      a(href="adm-testing-single.html").btn.btn--light.prof-progress__add
        +icon('add') 
        | Добавить новый тест
    h3 Тесты по предметам
    form.form.form--filter
      label
        span Фильтр по предмету
        select
          option(value="") Русский язык
          option(value="") Русский язык 2
          option(value="") Русский язык 3
          option(value="") Русский язык
          option(value="") Русский язык 2
          option(value="") Русский язык 3
          option(value="") Русский язык
          option(value="") Русский язык 2
          option(value="") Русский язык 3
          option(value="") Русский язык
          option(value="") Русский язык 2
          option(value="") Русский язык 3
          option(value="") Русский язык
          option(value="") Русский язык 2
          option(value="") Русский язык 3
          option(value="") Русский язык
          option(value="") Русский язык 2
          option(value="") Русский язык 3
      label
        span Фильтр по компетенции
        select
          option(value="") Коммуникативная компетенция
          option(value="") Коммуникативная компетенция 2
          option(value="") Коммуникативная компетенция 3
          option(value="") Коммуникативная компетенция
          option(value="") Коммуникативная компетенция 2
          option(value="") Коммуникативная компетенция 3
          option(value="") Коммуникативная компетенция
          option(value="") Коммуникативная компетенция 2
          option(value="") Коммуникативная компетенция 3
          option(value="") Коммуникативная компетенция
          option(value="") Коммуникативная компетенция 2
          option(value="") Коммуникативная компетенция 3
          option(value="") Коммуникативная компетенция
          option(value="") Коммуникативная компетенция 2
          option(value="") Коммуникативная компетенция 3
          option(value="") Коммуникативная компетенция
          option(value="") Коммуникативная компетенция 2
          option(value="") Коммуникативная компетенция 3
      - for ( var i = 1; i <= 8; i++ ) {
        .prof-box.prof-box--el
          .prof-box__top Русский язык
            a(href="adm-testing-single.html").prof-box__edit
              +icon('pan')
          .prof-box__content
            .prof-box__el
              .prof-box__el-name Вид теста
              .prof-box__el-val Квалифицированное испытание
            .prof-box__el
              .prof-box__el-name Счетчик времени
              .prof-box__el-val 20 мин
            .prof-box__el
              .prof-box__el-name Компетенция
              .prof-box__el-val Коммуникативная компетенция
            .prof-box__el
              .prof-box__el-name Количество вопросов
              .prof-box__el-val 10
      - }

      +pagination()