extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].admin;
  - var navAsidePage = "Главная";
  - var offMainNav = true;

block content
  header
    h2.title-alt Главная
  .adm.prof-content
    form.form
      .prof-content__col
        .prof-box
          .prof-box__top Загрузите логотип
          .prof-box__content
            label
              .form-input-line
                input(type="file" name="file")
                span Мой компьютер/Логотипы/Новые/logo.svg
                .btn.btn--accent Выберите файл
        .prof-box
          .prof-box__content
            label.checkbox
              input(type="checkbox" name="check[]" checked)
              span
              | Включить отображение рейтинга учителей
        .prof-box
          .prof-box__top Описание платформы
          .prof-box__content
            label
              span Заголовок
              input(type="text" name="" placeholder="Лучший заголовок")
            label
              span Текст
              textarea
        .prof-box
          .prof-box__top Политика конфиденциальности
          .prof-box__content
            label
              span Текст
              textarea(style="height: 153px;")
        .prof-box
          .prof-box__top Высшее образование
          .prof-box__content
            label
              span Добавьте специальность
              .form-input-line
                input(type="text" name="" placeholder="Какая-то специальность")
                a(href="#").btn.btn--accent Добавить
            .prof-box__res
              each name in ['Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район']
                .prof-box__res-item
                  a(href="#").prof-box__res-item-close
                  .prof-box__res-item-name= name
            label
              span Добавьте квалификацию
              .form-input-line
                input(type="text" name="" placeholder="Какая-то квалификация")
                a(href="#").btn.btn--accent Добавить
            .prof-box__res
              each name in ['Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район']
                .prof-box__res-item
                  a(href="#").prof-box__res-item-close
                  .prof-box__res-item-name= name
        .prof-box
          .prof-box__top Добавить пользователей
          .prof-box__content
            label
              span Добавить пользователя
              input(type="email" name="" placeholder="Логин")
              input(type="password" name="" placeholder="Пароль")
            a(href="#").btn.btn--accent.prof-box__add-user Добавить
            .prof-box__res
              each name in ['anastasia.malinovskaya','elizaveta kolishko','ekaterina varnava','aleksandra makedonskaya','anastasia.malinovskaya','elizaveta kolishko','ekaterina varnava','aleksandra makedonskaya','anastasia.malinovskaya','elizaveta kolishko','ekaterina varnava','aleksandra makedonskaya']
                .prof-box__res-item
                  a(href="#").prof-box__res-item-close
                  .prof-box__res-item-name= name
                  a(href="#").prof-box__res-item-edit
                    +icon('key')
                    | Изменить пароль
      .prof-content__col
        .prof-box
          .prof-box__top Регионы
          .prof-box__content
            label
              span Поле для ввода региона
              .form-input-line
                input(type="text" name="" placeholder="Какой-то регион")
                a(href="#").btn.btn--accent Добавить
            .prof-box__res
              each name in ['Новейший регион','Самый новый регион','Обалденный регион','Новейшийсуперпуперклассный регион','Новейший регион','Самый новый регион','Обалденный регион','Новейшийсуперпуперклассный регион','Новейший регион','Самый новый регион','Обалденный регион','Новейшийсуперпуперклассный регион']
                .prof-box__res-item
                  a(href="#").prof-box__res-item-close
                  .prof-box__res-item-name= name
        .prof-box
          .prof-box__top Районы
          .prof-box__content
            label
              span Поле для ввода района
              .form-input-line
                input(type="text" name="" placeholder="Какой-то район")
                a(href="#").btn.btn--accent Добавить
            .prof-box__res
              each name in ['Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район']
                .prof-box__res-item
                  a(href="#").prof-box__res-item-close
                  .prof-box__res-item-name= name
        .prof-box
          .prof-box__top Должности
          .prof-box__content
            label
              span Поле для ввода должности
              .form-input-line
                input(type="text" name="" placeholder="Какой-то район")
                a(href="#").btn.btn--accent Добавить
            .prof-box__res
              each name in ['Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район']
                .prof-box__res-item
                  a(href="#").prof-box__res-item-close
                  .prof-box__res-item-name= name
        .prof-box
          .prof-box__top Среднее образование
          .prof-box__content
            label
              span Добавьте специальность
              .form-input-line
                input(type="text" name="" placeholder="Какая-то специальность")
                a(href="#").btn.btn--accent Добавить
            .prof-box__res
              each name in ['Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район']
                .prof-box__res-item
                  a(href="#").prof-box__res-item-close
                  .prof-box__res-item-name= name
            label
              span Добавьте квалификацию
              .form-input-line
                input(type="text" name="" placeholder="Какая-то квалификация")
                a(href="#").btn.btn--accent Добавить
            .prof-box__res
              each name in ['Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район','Новейший район','Самый новый район','Обалденный район','Новейшийсуперпуперклассный район']
                .prof-box__res-item
                  a(href="#").prof-box__res-item-close
                  .prof-box__res-item-name= name
        .prof-box
          .prof-box__top E-mail для заявок
          .prof-box__content
            label
              span Укажите E-mail
              input(type="email" name="email" placeholder="")

      .form-action
        input(type="submit" name="submit" value="Сохранить изменения").btn.btn--light