extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].admin;
  //- - var navAsidePage = "Контакты";
  - var offMainNav = true;

block content
  header
    h2 Малиновская Анастасия Николаевна
  form
    .prof-section
      h2.title-alt Основные данные
      .form.form--cols
        label
          span Фамилия
          input(type="text" name="lname" placeholder="Петрова")
        label
          span Имя
          input(type="text" name="fname" placeholder="Анастасия")
        label
          span Отчество
          input(type="text" name="otch" placeholder="Николаевна")
        label
          span Дата рождения
          input(type="text" name="date" placeholder="Например: 21.02.1992")
        label
          span Должность
          select
            option(value="") Заведующий кафедрой
            option(value="") Заведующий кафедрой 2
            option(value="") Заведующий кафедрой 3
            option(value="") Заведующий кафедрой
            option(value="") Заведующий кафедрой 2
            option(value="") Заведующий кафедрой 3
            option(value="") Заведующий кафедрой
            option(value="") Заведующий кафедрой 2
            option(value="") Заведующий кафедрой 3
        label
          span Стаж работы
          input(type="text" name="exp" placeholder="Например: 3 года")
        label
          span Регион
          select(data-placeholder="Регион")
            option(value="" label="empty")
            option(value="") Регион 1
            option(value="") Регион 2
            option(value="") Регион 3
            option(value="") Регион 1
            option(value="") Регион 2
            option(value="") Регион 3
            option(value="") Регион 1
            option(value="") Регион 2
            option(value="") Регион 3
        label
          span Район
          select(data-placeholder="Район")
            option(value="" label="empty")
            option(value="") Район 1
            option(value="") Район 2
            option(value="") Район 3
            option(value="") Район 1
            option(value="") Район 2
            option(value="") Район 3
            option(value="") Район 1
            option(value="") Район 2
            option(value="") Район 3
        label
          span Адрес проживания
          input(type="text" name="address" placeholder="Например: 3 года")
        label
          span СНИЛС
          input(type="text" name="snils" placeholder="Серия")
        label
          span Новый пароль
          input(type="password" name="pas" placeholder="Пароль")
        label
          span Повторите пароль
          input(type="password" name="pas_r" placeholder="Повторите пароль")
        label.checkbox
          input(type="checkbox" name="check")
          span
          | Отключить вакансию
        a(href="#").adm-search__item-del
          span
          | Удалить карточку учителя
    .prof-section
      h2.title-alt Достижения
      .prof-progress
        .prof-progress__list
          each name in ['Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе']
            .prof-progress__item
              button.prof-progress__item-close
              img(src="img/diplom.jpg", alt="")
              .prof-progress__item-name= name
        .prof-progress__actions
          button.btn.btn--light.prof-progress__add
            +icon('add') 
            | Добавить новый документ
    .prof-section
      h2.title-alt Образование
      .adm.prof-education.prof-content
        .form
          .prof-content__col
            .prof-box.accordion.active
              a(href="#").prof-box__top.accordion-name Высшее
              .prof-box__content.accordion-content
                label
                  span Специальность
                  input(type="text" name="" placeholder="Лучший заголовок")
                label
                  span Квалификация
                  input(type="text" name="" placeholder="Лучший заголовок")
                label
                  span Дата выдачи диплома
                  input(type="text" name="" placeholder="Лучший заголовок")
                label
                  span Номер диплома
                  input(type="text" name="" placeholder="Лучший заголовок")
            .prof-box.accordion.active
              a(href="#").prof-box__top.accordion-name Переподготовка
              .prof-box__content.accordion-content
                label
                  span Название
                  input(type="text" name="" placeholder="")
            label
              span Стаж педагогической работы
              select
                option(value="") начало карьеры, выпускник
                option(value="") начало карьеры, выпускник 2
                option(value="") начало карьеры, выпускник 3
                option(value="") начало карьеры, выпускник
                option(value="") начало карьеры, выпускник 2
                option(value="") начало карьеры, выпускник 3
                option(value="") начало карьеры, выпускник
                option(value="") начало карьеры, выпускник 2
                option(value="") начало карьеры, выпускник 3
                option(value="") начало карьеры, выпускник
                option(value="") начало карьеры, выпускник 2
                option(value="") начало карьеры, выпускник 3
            label
              span Квалификационная категория
              select
                option(value="") Первая
                option(value="") Первая 2
                option(value="") Первая 3
          .prof-content__col
            .prof-box.accordion.active
              a(href="#").prof-box__top.accordion-name Среднее
              .prof-box__content.accordion-content
                label
                  span Специальность
                  input(type="text" name="" placeholder="Лучший заголовок")
                label
                  span Квалификация
                  input(type="text" name="" placeholder="Лучший заголовок")
                label
                  span Дата выдачи диплома
                  input(type="text" name="" placeholder="Лучший заголовок")
                label
                  span Номер диплома
                  input(type="text" name="" placeholder="Лучший заголовок")
            .prof-box.accordion.active
              a(href="#").prof-box__top.accordion-name Курсы повышения квалификации
              .prof-box__content.accordion-content
                label
                  span Название
                  input(type="text" name="" placeholder="")
            label
              span Профессиональные достижения
              input(type="text" name="" placeholder="Например: Диссертация")
            label
              span Ученная степень / Ученное звание
              input(type="text" name="" placeholder="Первая")
    .prof-section
      h2.title-alt Пройденные тестирования
      .prof-testing
        .prof-testing__complete.prof-testing__complete--alone
          .prof-testing__list
            - for ( var i = 1; i <= 4; i++ ) {
              .prof-testing__item
                .prof-testing__item-top
                  .prof-testing__item-name Русский язык
                  .prof-testing__item-type Коммуникативная компетенция
                .prof-testing__item-content
                  .prof-testing__item-points
                    | итоговый балл
                    span.prof-testing__item-points-num 78%
                    span.prof-testing__item-status.bad Незачет
                  a(href="profile-testing-single.html").btn.btn--light Подробнее
            - }
            .prof-testing__item
              .prof-testing__item-top
                .prof-testing__item-name Русский язык
                .prof-testing__item-type Коммуникативная компетенция
              .prof-testing__item-content
                .prof-testing__item-points
                  | итоговый балл
                  span.prof-testing__item-points-num 98%
                  span.prof-testing__item-status.success Зачет
                a(href="profile-testing-single.html").btn.btn--light Подробнее

    .prof-progress__actions
      button.btn.btn--light Сохранить изменения