extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].admin;
  - var navAsidePage = "Список директоров";
  - var offMainNav = true;

block content
  header
    h2.title-alt Список директоров
  form.form
    label
      span Поиск по ФИО или СНИЛС
      .form-input-line
        input(type="text" name="search" placeholder="Андрей Новиков")
        button.btn.btn--accent.btn-search
          +icon('search')
  .adm-search__result.adm-search__result--alt
    .base-cards
      - for ( var i = 1; i <= 9; i++ ) {
        .base-card
          .base-card__content
            .base-card__top
              .base-card__name Иванова Александра Евгеньевна
              .base-card__num
                +icon('university-alt')
                | Гимназия №1 г.Липецка
            .base-card__info
              .base-card__line
                .base-card__line-name Дата рождения: 
                .base-card__line-val 23.07.1991
              .base-card__line
                .base-card__line-name Район: 
                .base-card__line-val Красноземский
              .base-card__line
                .base-card__line-name СНИЛС: 
                .base-card__line-val 1231432123
              .base-card__line
                .base-card__line-name E-mail: 
                .base-card__line-val Ivanova@mail.ru
              .base-card__line
                .base-card__line-name Телефон: 
                .base-card__line-val +7 (495) 123 45 67
            .base-card__actions
              a(href="#").btn.btn--light Подробнее
      - }
  +pagination()