extends ../templates/layout-main

block variables
  - var loginType = true;
  //- - var pageType = "Документы";

block content
  +breadcrumbs({"База учителей":""})
  
  .inner
    .container
      h2 База учителей
      .base
        form.form
          .base-box
            label
              span Район
              select
                option(value="") Новейший район
                option(value="") Новейший район 2
                option(value="") Новейший район 3
                option(value="") Новейший район 4
                option(value="") Новейший район
                option(value="") Новейший район 2
                option(value="") Новейший район 3
                option(value="") Новейший район 4
                option(value="") Новейший район
                option(value="") Новейший район 2
                option(value="") Новейший район 3
                option(value="") Новейший район 4
            label
              span Должность
              select
                option(value="") Заведующий кафедрой
                option(value="") Заведующий кафедрой 2
                option(value="") Заведующий кафедрой 3
                option(value="") Заведующий кафедрой 4
                option(value="") Заведующий кафедрой
                option(value="") Заведующий кафедрой 2
                option(value="") Заведующий кафедрой 3
                option(value="") Заведующий кафедрой 4
                option(value="") Заведующий кафедрой
                option(value="") Заведующий кафедрой 2
                option(value="") Заведующий кафедрой 3
                option(value="") Заведующий кафедрой 4
            label.range-age-wrap
              span Возраст, лет
              .range-age
                #range-age
                input(type="hidden" name="" value="18" id="range-age-lower")
                input(type="hidden" name="" value="90" id="range-age-upper")
          .base-box
            .form-label
              .label-title Образование
              select(data-placeholder="Образование").sel-main-1
                option(value="" label="empty")
                option(value="Высшее") Высшее
                option(value="Высшее 2") Высшее 2
                option(value="Высшее 3") Высшее 3
                option(value="Высшее 4") Высшее 4
              select(data-placeholder="Специальность" disabled).sel-main-2
                option(value="" label="empty")
                option(value="Инженер-технолог") Инженер-технолог
                option(value="Инженер-технолог 2") Инженер-технолог 2
                option(value="Инженер-технолог 3") Инженер-технолог 3
                option(value="Инженер-технолог 4") Инженер-технолог 4
              select(data-placeholder="Квалификация" disabled).sel-main-3
                option(value="" label="empty")
                option(value="Какая-то квалификация") Какая-то квалификация
                option(value="Какая-то квалификация 2") Какая-то квалификация 2
                option(value="Какая-то квалификация 3") Какая-то квалификация 3
                option(value="Какая-то квалификация 4") Какая-то квалификация 4
            .form-label
              .label-title
              label.checkbox.checkbox--vbig
                input(type="checkbox" name="check[]")
                span
                | Дополнительное образование
              label.checkbox.checkbox--vbig
                input(type="checkbox" name="check[]")
                span
                | Ученая степень
              label.checkbox.checkbox--vbig
                input(type="checkbox" name="check[]")
                span
                | Ученое звание
            label
              span Профессиональные достижения
              select(data-placeholder="-Выбрать-")
                option(value="" label="empty")
                option(value="Достижение 1") Достижение 1
                option(value="Достижение 2") Достижение 2
                option(value="Достижение 3") Достижение 3
                option(value="Достижение 1") Достижение 1
                option(value="Достижение 2") Достижение 2
                option(value="Достижение 3") Достижение 3
                option(value="Достижение 1") Достижение 1
                option(value="Достижение 2") Достижение 2
                option(value="Достижение 3") Достижение 3
                option(value="Достижение 1") Достижение 1
                option(value="Достижение 2") Достижение 2
                option(value="Достижение 3") Достижение 3
          .base-box
            label
              span Квалификационная категория
              select
                option(value="") Первая
                option(value="") Вторая
                option(value="") Ещё одна
                option(value="") Совсем другая
            label.checkbox.checkbox--alone
              input(type="checkbox" name="qual" checked)
              span
              | Показать только прошедших квалификационное испытание
            .base-box__chekcs
              span Стаж работы
              label.checkbox
                input(type="radio" name="exp" checked)
                span
                | Начало карьеры, выпускник
              label.checkbox
                input(type="radio" name="exp")
                span
                | 1-3 лет
              label.checkbox
                input(type="radio" name="exp")
                span
                | 3-5 лет
              label.checkbox
                input(type="radio" name="exp")
                span
                | Свыше 5 лет
        .base-cards
          - for ( var i = 1; i <= 6; i++ ) {
            .base-card
              .base-card__content
                .base-card__top
                  .base-card__name Иванова Александра Евгеньевна
                  .base-card__num
                    +icon('rating')
                    = '№' + i
                .base-card__info
                  .base-card__line
                    .base-card__line-name Дата рождения: 
                    .base-card__line-val 23.07.1991
                  .base-card__line
                    .base-card__line-name Район: 
                    .base-card__line-val Красноземский
                  .base-card__line
                    .base-card__line-name Город: 
                    .base-card__line-val Санкт-Петербург
                  .base-card__line
                    .base-card__line-name Специальность: 
                    .base-card__line-val Маркетолог
                  .base-card__line
                    .base-card__line-name Стаж: 
                    .base-card__line-val более 5 лет
                .base-card__actions
                  a(href="page-teacher.html").base-card__more
                    span Подробнее об учителе
                    + icon('long-arrow-right')
                  a(href="#").btn.btn--light Отправить приглашение учителю
          - }
        .base-action
          button
            +icon('refresh') 
            | Показать еще учителей