extends ../templates/layout-main

block variables
  - var loginType = true;
  - var headerAlt = true;
  - var footerAlt = true;

block content
  .inner.inner--alt
    .container
      .cabinet
        header
          h2 Добро пожаловать, Анастасия
          p Пожалуйста, уточните свои данные
        form.form
          label
            span Фамилия
            input(type="text" name="lname" placeholder="Петрова")
          label
            span Имя
            input(type="text" name="fname" placeholder="Анастасия")
          label
            span Отчество
            input(type="text" name="otch" placeholder="Николаевна")
          label
            span Дата рождения
            input(type="text" name="date" placeholder="Например: 21.02.1992")
          label
            span Район
            select(data-placeholder="Район")
              option(value="" label="empty")
              option(value="") Район 1
              option(value="") Район 2
              option(value="") Район 3
              option(value="") Район 1
              option(value="") Район 2
              option(value="") Район 3
              option(value="") Район 1
              option(value="") Район 2
              option(value="") Район 3
              option(value="") Район 1
              option(value="") Район 2
              option(value="") Район 3
              option(value="") Район 1
              option(value="") Район 2
              option(value="") Район 3
          label
            span Образовательная организация
            input(type="text" name="exp" placeholder="Например: 3 года")
          label
            span СНИЛС
            input(type="text" name="snils" placeholder="Серия")
          label
            span E-mail
            input(type="email" name="email" placeholder="Почта")
          label
            span Телефон
            input(type="tel" name="phone" placeholder=" 7 (900) 000 00 00")
          .cabinet-action
            input(type="submit" name="submit" value="Сохранить изменения").btn.btn--light