extends ../templates/layout-main

block variables
  - var loginType = true;
  - var pageType = "Контакты";

block content
  +breadcrumbs({"Контакты":""})
  
  .inner
    .container
      h2 Контакты
      .contacts
        .contacts__list
          .contacts-item
            +icon('address')
            .contacts-item__info
              .contacts-item__name Адрес
              .contacts-item__val Какой то классный адрес
          .contacts-item
            +icon('phone')
            .contacts-item__info
              .contacts-item__name Телефон
              .contacts-item__val
                a(href="tel:74953456748") + 7 (495) 345 67 48
          .contacts-item
            +icon('work-time')
            .contacts-item__info
              .contacts-item__name Время работы
              .contacts-item__val Круглосуточно без выходных
          .contacts-item
            +icon('email')
            .contacts-item__info
              .contacts-item__name Почта
              .contacts-item__val
                a(href="mailto:pedagog@mail.ru") pedagog@mail.ru
        .contacts__map
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4238.995306874007!2d37.61708953450318!3d55.74930252336356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1554565374209!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>