extends ../templates/layout-main

block variables
  - var loginType = true;
  - var pageType = "Документы";

block content
  +breadcrumbs({"Документы":""})
  
  .inner
    .container
      h2 Документы
      .docs
        each name in ['Постановление Правительства РФ от 22.12.2012 №1376 (ред.от 09.10.2015)»Об утверждении Правил организации деятельности многофункциональн центров предоставления государственных и муниципальных услуг;','Постановление Правительства РФ от 22.12.2012 №1376 (ред.от 09.10.2015)» об утверждении','Постановление Правительства РФ от 22.12.2012 №1376 (ред.от 09.10.2015)» об утверждении организации деятельности','Постановление Правительства РФ от 22.12.2012 №1376 (ред.от 09.10.2015)» об утверждении организации','Постановление Правительства РФ от 22.12.2012 №1376 (ред.от 09.10.2015)» об утверждении Правил организации деятельности многофункциона','Постановление Правительства РФ от 22.12.2012 №1376 (ред.от 09.10.2015)» об утверждении организации']
          a(href="#").docs-item
            +icon('file')
            .docs-item__name= name
            +icon('download')
