extends ../templates/layout-main

block variables
  //- - var loginType = true;
  - var pageType = "Главная";

block content
  .banners
    .container
      .banners__content
        .banner
          a(href="#").banner__content(style="background-image: url(img/banner__img-1.jpg);")
            span Начинающему карьеру учителя
        .banner
          a(href="#").banner__content(style="background-image: url(img/banner__img-2.jpg);")
            span Руководителю образовательной организации
      a(href="#").btn.btn--accent Квалификационное испытание

  section.platform
    .platform__img
      img(src="img/platform__img.jpg", alt="")
    .container
      .platform__info
        h2 Описание платформы
        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.