block variables

block styles
  style.
    .wp {
      max-width: 1000px;
      margin: 50px auto;
    }
    .wp-box {
      margin-bottom: 50px;
    }
    .wp-box__title {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
    }
    .wp-box__title span {
      color: #888;
      font-size: .8em;
      display: inline-block;
      margin-left: 10px;
    }
    .wp-box ul {
      display: flex;
      flex-wrap: wrap;
    }
    .wp-box li {
      flex: 0 0 500px;
      width: 100%;
      max-width: 500px;
      padding-right: 20px;
      margin-bottom: 15px;
    }
    .wp-box a:visited {
      color: orange;
    }
    .wp-box a:hover {
      text-decoration: underline;
    }

doctype html
html(lang="ru")
  include ../templates/head
  include ../templates/blocks

  body(class=pageClass)
    .wrapper
      .wp
        .wp-box
          .wp-box__title Админка
            //- span (0 страниц осталось)
          ul
            each href,name in {"Главная":"adm-index.html","Документы":"adm-docs.html","Список учителей":"adm-teacher-list.html","Список директоров":"adm-direcrot-list.html","Впервые на сайте ?":"adm-first-visit.html","Контакты":"adm-contacts.html","Тестирование":"adm-testing.html","Вход":"adm-enter.html","Редактирование теста":"adm-testing-single.html","Страница директора":"page-director.html","Страница учителя":"adm-page-teacher.html"}
              li
                a(href= href, target="_blank")= name
        .wp-box
          .wp-box__title Фронт
            //- span (0 страниц осталось)
          ul
            each href,name in {"Главная":"index.html","Документы":"docs.html","Рейтинг учителей":"rating.html","Раздел для учителей":"text.html","Контакты":"contacts.html","Страница учителя":"page-teacher.html","База учителей":"base.html","Личный кабинет учителя(основные данные)":"profile-main.html","Личный кабинет учителя(достижения)":"profile-progress.html","Личный кабинет учителя(образование)":"profile-education.html","Личный кабинет учителя(тестирование)":"profile-testing.html","Личный кабинет учителя(тестирование 2)":"profile-testing-single.html","Личный кабинет учителя(Сообщения)":"profile-message.html","Тестирование":"testing.html","Личный кабинет директора(основные данные)":"cabinet-director.html"}
              li
                a(href= href, target="_blank")= name
        .wp-box
          .wp-box__title Попапы
            //- span (0 попапов осталось)
          ul
            each href,name in {"Авторизация":"#login","Регистрация":"#reg","Восстановить пароль":"#forgot-pas","Результат тестирования (зачёт)":"#popup-testing","Результат тестирования (незачёт)":"#popup-testing-bad","":""}
              li
                a(href= href).js-popup= name
      .hidden
        +popup-login()
        +popup-reg()
        +popup-forgot-pas()
        +popup-testing()
        block popup
    script(src="js/main.js")
    block script