extends ../templates/layout-main

block variables
  - var loginType = true;
  //- - var pageType = "Документы";

block content
  +breadcrumbs({"База учителей":"base.html","Малиновская Анастасия Николаевна":""})
  
  .inner
    .container
      h2 Малиновская Анастасия Николаевна
      .inner-content.person
        .inner-content__box
          .person-info
            .person-stats
              .person-stats__rating
                | Рейтинг:
                +icon('rating') 
                span №1
              .person-stats__line
                .person-stats__line-name Дата рождения: 
                .person-stats__line-val 23.07.1991
              .person-stats__line
                .person-stats__line-name СНИЛС: 
                .person-stats__line-val 123124121
              .person-stats__line
                .person-stats__line-name Квалификационная категория: 
                .person-stats__line-val первая
              .person-stats__line
                .person-stats__line-name Должность: 
                .person-stats__line-val заведующий кафедрой
              .person-stats__line
                .person-stats__line-name Стаж работы: 
                .person-stats__line-val более 5 лет
              .person-stats__line
                .person-stats__line-name Профессиональные достижения: 
                .person-stats__line-val проект реализует, диссертации или еще что то такое

              .person-stats__boxs
                .person-stats__box
                  +icon('international')
                  .person-stats__box-info
                    .person-stats__box-name Регион
                    .person-stats__box-val Какой то классный регион
                .person-stats__box
                  +icon('map')
                  .person-stats__box-info
                    .person-stats__box-name Район
                    .person-stats__box-val Какой то классный район
                .person-stats__box
                  +icon('home')
                  .person-stats__box-info
                    .person-stats__box-name Адрес проживания
                    .person-stats__box-val Какой то классный адрес проживания
            .person-boxs
              .person-box
                .person-box__cont
                  .person-box__top
                    .person-box__name
                      | Образование:
                      span Высшее
                    +icon('students-cap')
                  .person-box__content
                    .person-box__line
                      .person-box__line-name Специальность:
                      .person-box__line-val Учитель русского языка и литературы
                    .person-box__line
                      .person-box__line-name Квалификация по диплому:
                      .person-box__line-val Какая то квалификация
                    .person-box__line
                      .person-box__line-name Дата выдачи диплома:
                      .person-box__line-val 23.12.2002
                    .person-box__line
                      .person-box__line-name Номер диплома:
                      .person-box__line-val 213124325321
              .person-box
                .person-box__cont
                  .person-box__top
                    .person-box__name
                      | Образование:
                      span Среднее профессиональное
                    +icon('students-cap')
                  .person-box__content
                    .person-box__line
                      .person-box__line-name Специальность:
                      .person-box__line-val Учитель русского языка и литературы
                    .person-box__line
                      .person-box__line-name Квалификация по диплому:
                      .person-box__line-val Какая то квалификация
                    .person-box__line
                      .person-box__line-name Дата выдачи диплома:
                      .person-box__line-val 23.12.2002
                    .person-box__line
                      .person-box__line-name Номер диплома:
                      .person-box__line-val 213124325321
              .person-box
                .person-box__cont
                  .person-box__top
                    .person-box__name
                      | Переподготовка
                    +icon('plus')
                  .person-box__content
                    .person-box__line
                      .person-box__line-name Программа:
                      .person-box__line-val Учитель русского языка и литературы
              .person-box
                .person-box__cont
                  .person-box__top
                    .person-box__name
                      | Курс повышения квалификации
                    +icon('plus')
                  .person-box__content
                    .person-box__line
                      .person-box__line-name Программа:
                      .person-box__line-val Учитель русского языка и литературы
        .inner-content__box
          .person__title Достижения
          .person-diploms
            - for ( var i = 1; i <= 5; i++ ) {
              .person-diplom
                a(href="img/diplom.jpg" data-fancybox="gallery")
                  img(src="img/diplom.jpg", alt="")
            - }
        .inner-content__box
          button.btn.btn--light Отправить приглашение учителю
