extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].admin;
  //- - var navAsidePage = "Контакты";
  - var offMainNav = true;

block content
  header
    h2 Малиновская Анастасия Николаевна
  form.form.form--cols
    label
      span Фамилия
      input(type="text" name="lname" placeholder="Петрова")
    label
      span Имя
      input(type="text" name="fname" placeholder="Анастасия")
    label
      span Отчество
      input(type="text" name="otch" placeholder="Николаевна")
    label
      span Дата рождения
      input(type="text" name="date" placeholder="Например: 21.02.1992")
    label
      span Район
      select(data-placeholder="Район")
        option(value="" label="empty")
        option(value="") Район 1
        option(value="") Район 2
        option(value="") Район 3
    label
      span Образовательная организация
      input(type="text" name="exp" placeholder="Например: 3 года")
    label
      span СНИЛС
      input(type="text" name="snils" placeholder="Серия")
    label
      span E-mail
      input(type="email" name="email" placeholder="email")
    label
      span Телефон
      input(type="tel" name="phone" placeholder="7 (900) 000 00 00")
    label
      span Новый пароль
      input(type="password" name="pas" placeholder="Пароль")
    label
      span Повторите пароль
      input(type="password" name="pas_r" placeholder="Повторите пароль")
    .form-action
      input(type="submit" name="submit" value="Сохранить изменения").btn.btn--light.btn--big