extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].profile;
  - var navAsidePage = "Мои достижения";

block content
  header
    h2.title-alt Мои достижения
  .prof-progress
    .prof-progress__list
      each name in ['Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе','Диплом лауреата олимпиады по русскому языку и литературе']
        .prof-progress__item
          button.prof-progress__item-close
          img(src="img/diplom.jpg", alt="")
          .prof-progress__item-name= name
    .prof-progress__actions
      button.btn.btn--light.prof-progress__add
        +icon('add') 
        | Добавить новый документ
      button.btn.btn--light Сохранить изменения