extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].profile;
  - var navAsidePage = "Сообщения";

block content
  header
    h2.title-alt Сообщения
  .prof-messages
    - for ( var i = 1; i <= 3; i++) {
      .prof-message
        .prof-message__top
          .prof-message__title Заявка от директора
          .prof-message__date 08.01.2019 8:34
        .prof-message__content
          p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
    - }