extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].profile;
  - var navAsidePage = "Основные данные";

block content
  header
    h2.title-alt Основные данные
  form.form.form--cols
    label
      span Фамилия
      input(type="text" name="lname" placeholder="Петрова")
    label
      span Имя
      input(type="text" name="fname" placeholder="Анастасия")
    label
      span Отчество
      input(type="text" name="otch" placeholder="Николаевна")
    label
      span Дата рождения
      input(type="text" name="date" placeholder="Например: 21.02.1992")
    label
      span Должность
      select
        option(value="") Заведующий кафедрой
        option(value="") Заведующий кафедрой 2
        option(value="") Заведующий кафедрой 3
    label
      span Стаж работы
      input(type="text" name="exp" placeholder="Например: 3 года")
    label
      span Регион
      select(data-placeholder="Регион")
        option(value="" label="empty")
        option(value="") Регион 1
        option(value="") Регион 2
        option(value="") Регион 3
    label
      span Район
      select(data-placeholder="Район")
        option(value="" label="empty")
        option(value="") Район 1
        option(value="") Район 2
        option(value="") Район 3
    label
      span Адрес проживания
      input(type="text" name="address" placeholder="Например: 3 года")
    label
      span СНИЛС
      input(type="text" name="snils" placeholder="Серия")
    label.checkbox.checkbox--alone
      input(type="checkbox" name="check")
      span
      | Отключить свою вакансию
    .form-action
      input(type="submit" name="submit" value="Сохранить изменения").btn.btn--light