extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].profile;
  - var navAsidePage = "Образование";

block content
  header
    h2.title-alt Образование
  .adm.prof-education.prof-content
    form.form
      .prof-content__col
        .prof-box.accordion.active
          a(href="#").prof-box__top.accordion-name Высшее
          .prof-box__content.accordion-content
            label
              span Специальность
              input(type="text" name="" placeholder="Лучший заголовок")
            label
              span Квалификация
              input(type="text" name="" placeholder="Лучший заголовок")
            label
              span Дата выдачи диплома
              input(type="text" name="" placeholder="Лучший заголовок")
            label
              span Номер диплома
              input(type="text" name="" placeholder="Лучший заголовок")
        .prof-box.accordion.active
          a(href="#").prof-box__top.accordion-name Переподготовка
          .prof-box__content.accordion-content
            label
              span Название
              input(type="text" name="" placeholder="")
        label
          span Стаж педагогической работы
          select
            option(value="") начало карьеры, выпускник
            option(value="") начало карьеры, выпускник 2
            option(value="") начало карьеры, выпускник 3
        label
          span Квалификационная категория
          select
            option(value="") Первая
            option(value="") Первая 2
            option(value="") Первая 3
      .prof-content__col
        .prof-box.accordion.active
          a(href="#").prof-box__top.accordion-name Среднее
          .prof-box__content.accordion-content
            label
              span Специальность
              input(type="text" name="" placeholder="Лучший заголовок")
            label
              span Квалификация
              input(type="text" name="" placeholder="Лучший заголовок")
            label
              span Дата выдачи диплома
              input(type="text" name="" placeholder="Лучший заголовок")
            label
              span Номер диплома
              input(type="text" name="" placeholder="Лучший заголовок")
        .prof-box.accordion.active
          a(href="#").prof-box__top.accordion-name Курсы повышения квалификации
          .prof-box__content.accordion-content
            label
              span Название
              input(type="text" name="" placeholder="")
        label
          span Профессиональные достижения
          input(type="text" name="" placeholder="Например: Диссертация")
        label
          span Ученная степень / Ученное звание
          input(type="text" name="" placeholder="Первая")
      .form-action
        input(type="submit" name="submit" value="Сохранить изменения").btn.btn--light