extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].profile;
  - var navAsidePage = "Тестирование";

block content
  header
    h2.title-alt Выберите тест для прохождения
  .prof-testing
    .prof-testing__filter
      form.form
        label
          span Предмет
          select
            option(value="") Русский язык
            option(value="") Русский язык 2
            option(value="") Русский язык 3
            option(value="") Русский язык 4
        label
          span Выбор компетенции
          select
            option(value="") Предметная компетенция
            option(value="") Предметная компетенция 2
            option(value="") Предметная компетенция 3
            option(value="") Предметная компетенция 4
        .form__action
          a(href="testing.html").btn.btn--light Пройти демо тестирование
          a(href="testing.html").btn.btn--accent Пройти квалифицированное испытание
    .prof-testing__complete
      h3 Пройденные тестирования
      .prof-testing__list
        - for ( var i = 1; i <= 4; i++ ) {
          .prof-testing__item
            .prof-testing__item-top
              .prof-testing__item-name Русский язык
              .prof-testing__item-type Коммуникативная компетенция
            .prof-testing__item-content
              .prof-testing__item-points
                | итоговый балл
                span.prof-testing__item-points-num 78%
                span.prof-testing__item-status.bad Незачет
              a(href="profile-testing-single.html").btn.btn--light Подробнее
        - }
        .prof-testing__item
          .prof-testing__item-top
            .prof-testing__item-name Русский язык
            .prof-testing__item-type Коммуникативная компетенция
          .prof-testing__item-content
            .prof-testing__item-points
              | итоговый балл
              span.prof-testing__item-points-num 98%
              span.prof-testing__item-status.success Зачет
            a(href="profile-testing-single.html").btn.btn--light Подробнее