extends ../templates/layout-alt

block variables
  - var pageClass = "page-alt";
  - var loginType = true;
  - var navAsideObject = main['nav-aside'].profile;
  //- - var navAsidePage = "Тестирование";

block content
  header
    p предметная компетенция
    h2.title-alt Тестирование по русскому языку
  .prof-testing
    .prof-testing__result
      .prof-testing__time
        +icon('clock')
        .prof-testing__time-info
          | Времени затрачено:
          span 23:45
      .prof-testing__points
        .prof-testing__points-num
          span итоговый балл
          | 78%
        .prof-testing__points-status.bad Незачет
    .prof-testing__questions
      .prof-testing__question
        .prof-testing__question-info
          | 1. Когда началась Великая Отечественная Война?
          .prof-testing__question-answer Ваш ответ: Сложносочиненные предложения и их исключения
        .prof-testing__question-status.bad Не верно
      - for ( var i = 1; i <= 5; i++ ) {
        .prof-testing__question
          .prof-testing__question-info
            | 1. Когда началась Великая Отечественная Война?
            .prof-testing__question-answer Ваш ответ: Сложносочиненные предложения и их исключения
          .prof-testing__question-status.success Верно
      - }