extends ../templates/layout-main

block variables
  - var loginType = true;
  - var pageType = "Рейтинг учителей";

block content
  +breadcrumbs({"Рейтинг учителей":""})
  
  .inner
    .container
      h2 Рейтинг учителей
      select.rating-box__select
        option(value="" selected) Русский язык
        option(value="") Английский язык
        option(value="") Математика
        option(value="") Физика
      each name in ['Москва и Московская область','Какая то другая область 2','Какая то другая область 3']
        .rating-box
          .accordion
            a(href="#").accordion-name= name
            .accordion-content
              each object,num in main['rating-box']
                .rating-box__item
                  .rating-box__item-num
                    +icon('rating') 
                    | №
                    = num
                  .rating-box__item-name
                    a(href= object.href || "#")= object.name
                  .rating-box__item-university
                    +icon('university') 
                    = object.university
                  .rating-box__item-points
                    +icon('points') 
                    = object.points