extends ../templates/layout-main

block variables
  - var loginType = true;

block popup
  +popup-testing()

block content
  .inner
    .container
      .testing
        header
          p коммуникативная компетенция
          h2 Тестирование по русскому языку
        .testing-time
          +icon('clock')
          .testing-time__title Времени затрачено:
          .testing-time__val 00:00
        .testing-steps
          .testing-step.active
          - for ( var i = 1; i <= 9; i++ ) {
            .testing-step
          - }

        .inner-content
          form.form.testing-items
            .testing-item.active
              .testing-item__question Какое событие произошло на закате эпохи возрождения в провинциальном городе Спарта ?
              .testing-item__options
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Гражданская революция
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Какой то самый длинный в мире ответ на который не сможет дать ответ ни один учитель в мире потому что это нереально и невозможно ведь это история а ее сложно знать
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Какой то средненький пункт который ты обязательно выберешь
            .testing-item
              .testing-item__question Какое событие произошло на закате эпохи возрождения в провинциальном городе Спарта ?
              .testing-item__options
                label.radio
                  input(type="radio" name="question1")
                  span
                  | Гражданская революция
                label.radio
                  input(type="radio" name="question1")
                  span
                  | Какой то самый длинный в мире ответ на который не сможет дать ответ ни один учитель в мире потому что это нереально и невозможно ведь это история а ее сложно знать
                label.radio
                  input(type="radio" name="question1")
                  span
                  | Какой то средненький пункт который ты обязательно выберешь
            .testing-item
              .testing-item__question Какое событие произошло на закате эпохи возрождения в провинциальном городе Спарта ?
              .testing-item__options
                label
                  span Введите ответ в поле
                  input(type="text" name="answer")
            .testing-item
              .testing-item__question Какое событие произошло на закате эпохи возрождения в провинциальном городе Спарта ?
              .testing-item__options
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Гражданская революция
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Какой то самый длинный в мире ответ на который не сможет дать ответ ни один учитель в мире потому что это нереально и невозможно ведь это история а ее сложно знать
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Какой то средненький пункт который ты обязательно выберешь
            .testing-item
              .testing-item__question Какое событие произошло на закате эпохи возрождения в провинциальном городе Спарта ?
              .testing-item__options
                label.radio
                  input(type="radio" name="question2")
                  span
                  | Гражданская революция
                label.radio
                  input(type="radio" name="question2")
                  span
                  | Какой то самый длинный в мире ответ на который не сможет дать ответ ни один учитель в мире потому что это нереально и невозможно ведь это история а ее сложно знать
                label.radio
                  input(type="radio" name="question2")
                  span
                  | Какой то средненький пункт который ты обязательно выберешь
            .testing-item
              .testing-item__question Какое событие произошло на закате эпохи возрождения в провинциальном городе Спарта ?
              .testing-item__options
                label
                  span Введите ответ в поле
                  input(type="text" name="answer")
            .testing-item
              .testing-item__question Какое событие произошло на закате эпохи возрождения в провинциальном городе Спарта ?
              .testing-item__options
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Гражданская революция
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Какой то самый длинный в мире ответ на который не сможет дать ответ ни один учитель в мире потому что это нереально и невозможно ведь это история а ее сложно знать
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Какой то средненький пункт который ты обязательно выберешь
            .testing-item
              .testing-item__question Какое событие произошло на закате эпохи возрождения в провинциальном городе Спарта ?
              .testing-item__options
                label.radio
                  input(type="radio" name="question3")
                  span
                  | Гражданская революция
                label.radio
                  input(type="radio" name="question3")
                  span
                  | Какой то самый длинный в мире ответ на который не сможет дать ответ ни один учитель в мире потому что это нереально и невозможно ведь это история а ее сложно знать
                label.radio
                  input(type="radio" name="question3")
                  span
                  | Какой то средненький пункт который ты обязательно выберешь
            .testing-item
              .testing-item__question Какое событие произошло на закате эпохи возрождения в провинциальном городе Спарта ?
              .testing-item__options
                label
                  span Введите ответ в поле
                  input(type="text" name="answer")
            .testing-item
              .testing-item__question Какое событие произошло на закате эпохи возрождения в провинциальном городе Спарта ?
              .testing-item__options
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Гражданская революция
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Какой то самый длинный в мире ответ на который не сможет дать ответ ни один учитель в мире потому что это нереально и невозможно ведь это история а ее сложно знать
                label.checkbox
                  input(type="checkbox" name="check[]")
                  span
                  | Какой то средненький пункт который ты обязательно выберешь

          .testing-controls
            button.btn.btn--accent Ответить
            .testing-iteration
              | Вопрос 
              span.testing-iteration-step 1
              |  / 
              span.testing-iteration-all 10

