extends ../templates/layout-main

block variables
  - var loginType = true;
  - var pageType = "Для учителей";

block content
  +breadcrumbs({"Раздел для учителей":""})
  
  .container
    h2 Раздел для учителей
    .text.text--page
      img(src="img/text__img-1.jpg", alt="", style="float:left; margin-right:30px;margin-bottom:20px;").float-img
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит cайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит cайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру

      .clearfix

      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит cайт рыбатекст поможет

      h3 Подзаголовок
      p Сайт рыбатекст поможет дизайнеру, верстальщику, <b>вебмастеру сгенерировать несколько</b> абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее <a href="#">осмысленного текста</a> рыбы на русском языке, а начинающему оратору отточит cайт рыбатекст поможет дизайнеру сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит cайт рыбатекст поможет дизайнеру
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы русском языке, а начинающему оратору отточит сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит cайт рыбатекст поможет дизайнеру

      h4 заголовок списка:
      ul
        li Профессиональные перчатки
        li Заслужили огромную симпатию со стороны женщин
        li Благодаря всему этому рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несолько абзацев более менее осмысленного
        li текста  рыбы на русском языке, а начинающему оратору отточит сайт рыбатекст

      h4 заголовок списка:
      ol
        li Профессиональные перчатки
        li Заслужили огромную симпатию со стороны женщин
        li Благодаря всему этому рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несолько абзацев более менее осмысленного текста  рыбы на русском языке, а начинающему оратору отточит сайт рыбатекст

      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит cайт рыбатекст поможет

      blockquote Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке

      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточит cайт рыбатекст поможет