@font-face {
	font-family: "icons";
	src: url('../fonts/icons/icons.eot');
	src: url('../fonts/icons/icons.eot?#iefix') format('eot'),
		url('../fonts/icons/icons.woff2') format('woff2'),
		url('../fonts/icons/icons.woff') format('woff'),
		url('../fonts/icons/icons.ttf') format('truetype'),
		url('../fonts/icons/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-add:before {
	content: "\E001";
}

.icon-address:before {
	content: "\E002";
}

.icon-calendar-alt:before {
	content: "\E003";
}

.icon-calendar:before {
	content: "\E004";
}

.icon-clipboard:before {
	content: "\E005";
}

.icon-clock:before {
	content: "\E006";
}

.icon-cont:before {
	content: "\E007";
}

.icon-download:before {
	content: "\E008";
}

.icon-email:before {
	content: "\E009";
}

.icon-file:before {
	content: "\E00A";
}

.icon-home-alt:before {
	content: "\E00B";
}

.icon-home:before {
	content: "\E00C";
}

.icon-i:before {
	content: "\E00D";
}

.icon-international:before {
	content: "\E00E";
}

.icon-key:before {
	content: "\E00F";
}

.icon-list-test:before {
	content: "\E010";
}

.icon-lists:before {
	content: "\E011";
}

.icon-logout:before {
	content: "\E012";
}

.icon-long-arrow-left:before {
	content: "\E013";
}

.icon-long-arrow-right:before {
	content: "\E014";
}

.icon-man:before {
	content: "\E015";
}

.icon-map:before {
	content: "\E016";
}

.icon-message:before {
	content: "\E017";
}

.icon-mortarboard:before {
	content: "\E018";
}

.icon-pan:before {
	content: "\E019";
}

.icon-phone:before {
	content: "\E01A";
}

.icon-plus:before {
	content: "\E01B";
}

.icon-points:before {
	content: "\E01C";
}

.icon-rating:before {
	content: "\E01D";
}

.icon-refresh:before {
	content: "\E01E";
}

.icon-search:before {
	content: "\E01F";
}

.icon-students-cap:before {
	content: "\E020";
}

.icon-university-alt:before {
	content: "\E021";
}

.icon-university:before {
	content: "\E022";
}

.icon-user:before {
	content: "\E023";
}

.icon-woman:before {
	content: "\E024";
}

.icon-work-time:before {
	content: "\E025";
}
