html {
  font-size: $fontSizeMain + px;
  line-height: $lineHeightMain;
  height: 100%;
}

body {
  font-family: $fontFamilyMain, Arial, sans-serif;
  font-weight: $fontWeightMain;
  background-color: $colorBgMain;
  color: $colorTextMain;
  min-width: 320px;
  height: 100%;
  overflow-y: scroll;

  &.menu-opened {
    @include media($lg) {
      overflow: hidden;

      .header__nav {
        opacity: 1;
        visibility: visible;
      }
      .header__nav-content {
        transform: translateX(0);
      }
    }
  }

  &.page-alt {
    .content {
      position: relative;
      padding-left: 268px;

      @include media($md) {
        padding-left: 50px;
      }
    }

    .footer {
      width: calc(100% - 268px);
      left: 268px;

      @include media($md) {
        left: 50px;
        width: calc(100% - 50px);
      }
    }

    .inner {
      padding: 20px 30px 70px;

      @include media($lg) {
        padding: 20px 20px 40px;
      }

      & > header {
        p:first-child {
          text-transform: uppercase;
          color: $colorAccent;
          font-size: 16px;
          line-height: 1;
          margin-bottom: 10px;

          @include media($xl) {
            font-size: 14px;
          }
        }
      }
    }

    .nav > ul > li:first-child {
      margin-left: 30px;

      @include media($lg) {
        margin-left: 0;
      }
    }

    .nav > ul > li a {
      font-size: 14px;
      font-weight: 400;

      @include media($lg) {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

input {
  @include placeholder("#777");
  -webkit-appearance: none;
}

.hidden {
  display: none;
}
