@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf"),
       url("../fonts/Montserrat-Regular.otf") format("otf"),
       url("../fonts/Montserrat-Regular.eot") format("eot"),
       url("../fonts/Montserrat-Regular.woff") format("woff"),
       url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-Medium.ttf") format("ttf"),
       url("../fonts/Montserrat-Medium.otf") format("otf"),
       url("../fonts/Montserrat-Medium.eot") format("eot"),
       url("../fonts/Montserrat-Medium.woff") format("woff"),
       url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("ttf"),
       url("../fonts/Montserrat-SemiBold.otf") format("otf"),
       url("../fonts/Montserrat-SemiBold.eot") format("eot"),
       url("../fonts/Montserrat-SemiBold.woff") format("woff"),
       url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-Bold.ttf") format("ttf"),
       url("../fonts/Montserrat-Bold.otf") format("otf"),
       url("../fonts/Montserrat-Bold.eot") format("eot"),
       url("../fonts/Montserrat-Bold.woff") format("woff"),
       url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("ttf"),
       url("../fonts/Montserrat-ExtraBold.otf") format("otf"),
       url("../fonts/Montserrat-ExtraBold.eot") format("eot"),
       url("../fonts/Montserrat-ExtraBold.woff") format("woff"),
       url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  src: url("../fonts/Montserrat-Italic.ttf") format("ttf"),
       url("../fonts/Montserrat-Italic.otf") format("otf"),
       url("../fonts/Montserrat-Italic.eot") format("eot"),
       url("../fonts/Montserrat-Italic.woff") format("woff"),
       url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
}