.fancybox-bg {
  background: rgba(#565656,.7);
}
.fancybox-slide--html .fancybox-close-small {
  top: 6px;
}

.jq-selectbox {
  outline: none;
  box-shadow: none;
  background: #fff;

  &.opened {
    box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.08);

    .jq-selectbox__select {
      border-radius: 4px 4px 0 0;
    }
  }

  &.focused,
  &:active {
    outline: none;
    box-shadow: none;
    background: #fff;

    .jq-selectbox__select {
      outline: none;
      box-shadow: none;
      background: #fff;
      border: 1px solid #e9e9e9;
    }
  }

  &.disabled {
    opacity: .5;

    .jq-selectbox__select {
      background: #fff;
      border: 1px solid #e9e9e9;
    }
  }
}

.jq-selectbox__select {
  height: 50px;
  background: #fff;
  outline: none;
  box-shadow: none;
  padding: 0 40px 0 19px;
  border: 1px solid #e9e9e9;

  &:hover {
    outline: none;
    box-shadow: none;
    background: #fff;
  }
}

.jq-selectbox__trigger {
  border: none;
  width: 40px;
}

.jq-selectbox__dropdown {
  padding: 18px 0;
  cursor: default;
  box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.08);
  border-radius: 0 0 4px 4px;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  margin-top: -1px;

  ul {
    max-height: 186px !important;
    padding: 0 40px 0 21px !important;
  }
}

.jq-selectbox__select-text {
  height: 100%;
  display: flex;
  align-items: center;
  color: #333333;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;

  &.placeholder {}
}

.jq-selectbox__trigger-arrow {
  border: none;
  top: 50%;
  right: 19px;
  transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

.jq-selectbox li {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  height: 28px;
  padding: 0;
  display: flex;
  align-items: center;

  &.selected,
  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: $colorAccent;
    font-weight: 500;
    text-shadow: .5px 0px 0 $colorAccent;
  }
}

.range-age-wrap {
  margin-bottom: 0 !important;
}

.range-age {
  overflow: hidden;
  width: calc(100% + 20px);
  margin-left: -10px;
  height: 85px;
  padding: 0 10px;
}

#range-age {
  width: calc(100% - 24px);
  margin-left: 12px;
  height: 13px;
  border-radius: 6px;
  border: none;
  background-color: #e3e3e3;
  box-shadow: 0 0 0 8px rgba(212, 212, 212, 0.6),
              0 0 0 12px #e3e3e3;
  margin-top: 12px;
}

.noUi-connects {
  background-color: #d4d4d4;
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.11);
  border-radius: 6px;
}

.noUi-connect {
  background-color: #1e3685;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-horizontal .noUi-handle {
  background-image: url('../img/range-placeholder.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 41px;
  height: 46px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  top: -11px;
}

.noUi-value-sub {
  display: none;
}

.noUi-tooltip {
  border: none;
  box-shadow: none;
  font-weight: 500;
  font-size: 14px;
  color: $colorAccent;
  bottom: auto !important;
  top: 100%;
  background-color: #fff;
  margin-top: 15px;
  padding-left: 2px;
  padding-right: 2px;

  &:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.39);
    border-radius: 50%;
    background-color: $colorAccent;
    z-index: 3;
  }

  &:after {
    content: '';
    position: absolute;
    top: -15px;
    height: 10px;
    width: 1000px;
    background: rgba(255,255,255,0.85);
    z-index: 2;
  }
}

.noUi-handle.noUi-handle-lower .noUi-tooltip:after {
  right: 50%;
}

.noUi-handle.noUi-handle-upper .noUi-tooltip:after {
  left: 50%;
}

.noUi-value-large {
  font-size: 14px;
  font-weight: 500;
  color: #999;
  top: 30px;
}

.noUi-pips-horizontal {
  padding-top: 22px;
  height: 60px;
  padding-bottom: 0;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 26px;
    width: 100%;
    border-bottom: 2px solid $colorAccent;
  }
}

.noUi-marker-horizontal.noUi-marker {
  width: 1px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 8px;
  margin-top: 1px;
  background: $colorAccent;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -21px;
}

.noUi-marker-horizontal.noUi-marker-large {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.39);
  background-color: #000;
  margin-left: -4px;
}

/******************* SCROLLBAR *******************/
.scroll-element.scroll-y.scroll-scrolly_visible {
  background: #e9e9e9;
  cursor: pointer;
  position: absolute;
  height: 100%;
  // max-height: 186px;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  border-radius: 4px;
}

.prof-box__res .scroll-element.scroll-y.scroll-scrolly_visible {
  right: 0;
}

.scroll-element.scroll_y.scroll-scrolly_visible div
{
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.scroll-element.scroll-y.scroll-scrolly_visible .scroll-bar {
    background: $colorAccent;
    z-index: 12;
    height: 46px;
    border-radius: 4px !important;
    cursor: pointer;
}