// ЦВЕТА
$colorAccent: #1e3685;
$colorAlt: #da0034;
// $colorSecondary: ;

$colorTextMain: #333333;
$colorTextAlt: #ffffff;
// $colorTextSecondary: #000000;

$colorBgMain: #f7f7f7;
// $colorBgAlt: ;
// $colorBgSecondary: ;

// ШРИФТЫ
$fontFamilyMain: "Montserrat";
// $fontFamilyAlt: "";
// $fontFamilySecondary: ;

// РАЗМЕРЫ
$fontSizeMain: 16;
$lineHeightMain: 1.68;
$fontWeightMain: 400;

$marginGridMain: 20px;

$big: 1360px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xl: 576px;
$min: 480px;

$bdrsMain: 0px;

$transitionMain: .3s;

