.logo {
  display: block;
  width: 326px;
  min-width: 326px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  @include media($lg) {
    font-size: 16px;
    line-height: 22px;
    min-width: 280px;
    width: 280px;
  }

  @include media($xl) {
    font-size: 12px;
    min-width: 0;
    width: auto;
    max-width: 250px;
    line-height: 1.4;
  }
}