.contacts {

  &__map {
    height: 495px;
    border: 4px solid #fff;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    padding-right: 37px;

    @include media($lg) {
      width: 100%;
      max-width: 50%;
      flex: 0 0 50%;
    }

    @include media($xl) {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .icon {
      margin-right: 14px;
      color: $colorAccent;
      font-size: 25px;
      position: relative;
      bottom: -3px;
    }

    &__info {
      height: 100%;
      padding-left: 14px;
      border-left: 1px solid #e9e9e9;
    }

    &__name {
      font-size: 15px;
      font-weight: 500;
    }

    &__val {
      font-size: 14px;

      a {
        color: inherit;
      }
    }
  }
}