.cabinet {

  h2 {
    font-size: 26px;
    padding-bottom: 0;
    margin-bottom: 17px;

    &:after {
      display: none;
    }
  }
  header {
    margin-bottom: 35px;

    p {
      font-size: 16px;
    }
  }

  &-action {
    flex: 0 0 100%;
    margin-top: 5px;
    padding-left: 30px;

    .btn {
      height: 60px;
      width: 100%;
      max-width: 326px;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

    label {
      margin-bottom: 25px;
      width: calc(33.33333% - 30px);
      margin-left: 30px;

      @include media($md) {
        width: calc(50% - 30px);
      }

      @include media($xl) {
        width: calc(100% - 30px);
      }
    }

    .jq-selectbox {
      width: 100%;
    }

    select,
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
      height: 50px;
      font-size: 14px;
    }
  }
}