.clearfix {
  &:after,
  &:before {
    display: table;
    content: '';
    clear: both;
  }
}

.text {

  &--page {
    padding-bottom: 45px;
  }

  img.float-img {
    max-width: 50%;
    display: block;

    @include media($sm) {
      float: none !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      max-width: 100%;
      width: 100%;
    }
  }

  // &__box {
  //   display: flex;
  //   margin-bottom: 30px;
  //   align-self: flex-start;

  //   &-img {
  //     width: 50%;
  //     margin-right: 30px;

  //     img {
  //       display: block;
  //       width: 100%;
  //     }
  //   }

  //   p {
  //     flex: 1;
  //     padding-top: 18px;
  //     margin-bottom: 0;
  //   }
  // }

  img {
    display: inline-block;
  }

  a {
    text-decoration: underline;
    color: $colorAccent;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }
  }


  p {
    margin-bottom: 20px;

    & + *:not(p) {
      margin-top: 30px;
    }
  }

  li {
    padding-left: 35px;
    position: relative;
    margin-bottom: 20px;

    @include media($xl) {
      padding-left: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin-bottom: 30px;
  }

  ol,
  ol li {
    list-style-type: decimal;
  }
  ol li {
    padding-left: 18px;
    margin-left: 17px;

    @include media($xl) {
      padding-left: 5px;
    }
  }

  ul li {
    &:before {
      content: '-';
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  blockquote {
    margin-bottom: 30px;
    border: 1px solid #dedede;
    background-color: #ffffff;
    padding: 35px 39px 35px 39px;
    position: relative;
    font-style: italic;

    @include media($xl) {
      padding: 20px 20px 20px 25px;
    }

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      height: calc(100% + 2px);
      border-left: 6px solid $colorAccent;
    }
  }
}