.rating-box {
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }

  &__select {
    margin-bottom: 30px;
    width: 100%;
    max-width: 285px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 18px 20px;
    border-bottom: 1px solid #e1e1e1;
    line-height: 1;

    @include media($md) {
      flex-wrap: wrap;
      position: relative;
      padding: 18px 170px 18px 100px;
    }

    @include media($xl) {
      padding: 18px 20px;
    }

    &:last-child {
      border-bottom: none;
    }

    &-num {
      flex: 0 0 70px;
      min-width: 70px;
      margin-right: 10px;
      font-weight: bold;
      font-size: 16px;
      color: $colorAccent;
      display: flex;
      align-items: center;

      @include media($md) {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
      }

      @include media($xl) {
        transform: translateY(0);
        position: static;
        order: 1;
        margin-bottom: 10px;
      }

      .icon {
        font-size: 20px;
        margin-right: 6px;
      }
    }

    &-name {
      flex: 1;
      padding-right: 20px;

      @include media($md) {
        flex: 0 0 100%;
        margin-bottom: 10px;
      }

      @include media($xl) {
        order: 3;
      }

      a {
        &:hover {
          color: $colorAccent;
          text-decoration: underline;
        }
      }
    }

    &-university {
      flex: 0 0 400px;
      padding-right: 20px;

      @include media($lg) {
        flex: 0 0 345px;
      }

      @include media($md) {
        flex: 0 0 100%;
      }

      @include media($xl) {
        order: 4;
      }

      .icon {
        margin-right: 9px;
        font-size: 22px;
        position: relative;
        bottom: -1px;
      }
    }

    &-points {
      flex: 0 0 190px;
      min-width: 190px;

      @include media($lg) {
        min-width: 150px;
        flex: 0 0 150px;
      }

      @include media($md) {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }

      @include media($xl) {
        position: static;
        transform: translateY(0);
        order: 2;
        margin-top: -6px;
        margin-bottom: 10px;
      }

      .icon {
        margin-right: 9px;
        font-size: 23px;
        position: relative;
        bottom: -3px;

        @include media($xl) {
          font-size: 20px;
        }
      }
    }
  }

  .accordion.active {
    .accordion-name {
      color: $colorAccent;

      &:after {
        top: calc(50% + 1px);
        transform: translateY(-50%) rotate(-135deg);
      }
    }
  }

  .accordion-name {
    position: relative;
    display: block;
    padding: 23px 23px 23px 56px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;

    &:hover {
      color: $colorAccent;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      top: 50%;
      left: 20px;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      background-color: $colorAccent;
      transform: translateY(-50%);
    }

    &:after {
      top: calc(50% - 1px);
      left: 27px;
      width: 6px;
      height: 6px;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: translateY(-50%) rotate(45deg);
    }
  }
}