.base {

  .form {
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 35px;
  }

  &-box {
    border-bottom: 1px solid #e9e9e9;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      border-bottom: none;
    }

    &__chekcs {
      flex: 0 0 100%;
      margin-top: 7px;
      display: flex;
      flex-wrap: wrap;

      span:first-child {
        display: block;
        font-size: 15px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 17px;
        flex: 0 0 100%;
      }

      label {
        margin-right: 44px;

        &:last-child {
          margin-right: 0;
          margin-bottom: 18px;
        }
      }
    }

    & > .form-label {
      margin-bottom: 18px;
    }

    & > .form-label,
    & > label {
      flex: 0 0 calc(33.3333% - 16px);
      max-width: calc(33.3333% - 16px);
      width: 100%;
      margin-right: 24px;

      @include media($md) {
        flex: 0 0 calc(50% - 12px);
        max-width: calc(50% - 12px);
      }

      @include media($sm) {
        margin-right: 0;
        flex: 0 0 100%;
        max-width: 100%;
      }

      &:nth-child(2n) {
        @include media($md) {
          margin-right: 0;
        }
      }

      &:nth-child(3n) {
        margin-right: 0;

        @include media($md) {
          margin-right: 24px;
        }

        @include media($sm) {
          margin-right: 0;
        }
      }

      &.checkbox {
        flex: 1;
        max-width: 100%;
      }
    }

    .jq-selectbox {
      display: block;
      width: 100%;
      margin-bottom: 13px;

      &:last-child {
        margin-bottom: 0;
      }

      .jq-selectbox__select-text {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &-cards {
    @include row(-15px);
  }

  &-card {
    @include col(1,3);
    padding: 0 15px;
    margin-bottom: 30px;

    @include media($md) {
      @include col(1,2);
    }

    @include media($xl) {
      @include col(1,1);
    }

    &__content {
      border-radius: 4px;
      background-color: #ffffff;
      padding: 24px;
      position: relative;
      top: 0;
      transition: .3s;

      &:hover {
        top: -9px;
        box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.1);
      }
    }

    &__top {
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 15px;
      margin-bottom: 20px;
    }

    &__name {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
      line-height: 1;
    }

    &__num {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      color: $colorAccent;
      line-height: 1;

      .icon {
        font-size: 23px;
        margin-right: 6px;
      }
    }

    &__info {
      margin-bottom: 15px;
    }

    &__line {
      margin-bottom: 10px;
      font-size: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      &-name {
        display: inline-block;
        color: #888888;
      }

      &-val {
        display: inline-block;
      }
    }

    &__more {
      display: inline-block;
      text-transform: uppercase;
      color: $colorAccent;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 25px;

      @include media($sm) {
        font-size: 12px;
      }

      &:hover {
        span {
          text-decoration: none;
        }
      }

      span {
        text-decoration: underline;
      }

      .icon {
        font-size: 16px;
        margin-left: 9px;
        position: relative;
        bottom: -2px;
      }
    }

    .btn {
      font-size: 15px;
      height: 47px;
      font-weight: 400;
      line-height: 1;
    }
  }

  &-action {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      border-radius: 5px;
      background-color: #ffffff;
      padding: 18px 0;
      border: none;
      font-size: 15px;
      font-weight: 500;
      color: $colorAccent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 100%;
      transition: .3s;

      &:hover {
        background-color: $colorAccent;
        color: #fff;
      }

      .icon {
        margin-right: 8px;
        font-size: 17px;
        position: relative;
        bottom: -2px;
      }
    }
  }
}