.person {

  &-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include media($md) {
      display: block;
    }
  }

  &-stats {
    flex: 0 0 334px;
    margin-right: 30px;
    max-width: 334px;
    min-width: 334px;

    @include media($md) {
      margin-bottom: 30px;
      margin-right: 0;
      max-width: 100%;
      min-width: 0;
      flex: 0 0 100%;
    }

    &__rating {
      display: flex;
      align-items: center;
      line-height: 1;
      font-size: 16px;
      margin-bottom: 20px;

      .icon {
        color: $colorAccent;
        font-size: 24px;
        position: relative;
        bottom: -2px;
        margin-left: 10px;
        margin-right: 5px;
      }

      span {
        font-size: 18px;
        font-weight: 700;
        color: $colorAccent;
      }
    }

    &__line {
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &-name {
        display: inline-block;
        color: #888888;
      }

      &-val {
        display: inline-block;
      }
    }

    &__box {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      &s {
        margin-top: 40px;
      }

      .icon {
        width: 37px;
        min-width: 37px;
        font-size: 24px;
        color: $colorAccent;
      }

      &-info {
        border-left: 1px solid #e9e9e9;
        line-height: 1.2;
        padding: 5px 0 5px 14px;
      }

      &-name {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 3px;
      }

      &-val {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &-boxs {
    flex: 1;
    @include row(-12px);
  }

  &-box {
    @include col(1,2);
    padding: 0 12px;
    margin-bottom: 24px;

    @include media($sm) {
      @include col(1,1);
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:nth-last-child(2) {
      @include media($sm) {
        margin-bottom: 24px;
      }
    }

    &__cont {
      border-radius: 5px;
      border: 1px solid #e9e9e9;
    }

    &__top {
      padding: 0 20px;
      height: 84px;
      border-bottom: 1px solid #e9e9e9;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media($sm) {
        min-height: 84px;
        position: relative;
      }

      .icon {
        border-radius: 50%;
        background-color: #f1f1f1;
        color: $colorAccent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;

        @include media($sm) {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
        }

        &-students-cap {
          font-size: 30px;
          width: 47px;
          height: 47px;
          min-width: 47px;
          padding-bottom: 2px;
          padding-left: 2px;

          @include media($sm) {
            width: 30px;
            min-width: 30px;
            height: 30px;
            font-size: 18px;
          }
        }

        &-plus {
          font-size: 14px;
          width: 30px;
          min-width: 30px;
          height: 30px;
          padding-left: 1px;
        }
      }
    }

    &__name {
      line-height: 22px;
      font-size: 15px;
      font-weight: 500;
      flex: 1;

      span {
        color: $colorAccent;
        font-size: 16px;
        display: block;
      }
    }

    &__content {
      padding: 20px;
    }

    &__line {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &-name {
        color: #888888;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
  }

  &-diploms {
    @include row(-12px);
  }

  &-diplom {
    @include col(1,5);
    padding: 0 12px;
    margin-top: 20px;

    @include media($md) {
      @include col(1,4);
    }

    @include media($sm) {
      @include col(1,3);
    }

    @include media($xl) {
      @include col(1,2);
    }

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .btn {
    width: 100%;
    font-size: 18px;
    max-width: 400px;
    height: 59px;

    @include media($xl) {
      max-width: 100%;
      font-size: 16px;
    }

    @include media($min) {
      font-size: 13px;
      height: 50px;
    }
  }
}