mixin popup-forgot-pas(modifier)
  .popup#forgot-pas.popup-forgot-pas&attributes(attributes)
    .popup__title Восстановить пароль
    .popup__content
      form.form
        label
          span E-mail
          input(type="email" name="email" placeholder="email" required)
        .form__action
          a(href="#reg").btn.btn--accent.js-popup Восстановить пароль