.burger {
  display: none;
  margin-left: 15px;

  @include media($lg) {
    display: block;
  }

  a {
    font-size: 24px;
    position: relative;
    display: block;
    width: 30px;
    height: 30px;

    span {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 3px;
      background: #333;

      &:after,
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
      }

      &:after {
        top: -9px;
      }
      &:before {
        bottom: -9px;
      }
    }
  }
}