.header {
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  position: relative;
  z-index: 100;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;

    @include media($lg) {
      height: 56px;
    }
  }

  .logo {
    margin-right: 41px;

    @include media($xl) {
      margin-right: 0;
    }
  }

  &__nav {
    height: 100%;
    flex: 1;
    border-left: 1px solid #ececec;
    display: flex;
    align-items: center;

    @include media($lg) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      transition: .3s;
      opacity: 0;
      visibility: hidden;
    }

    &-content {

      @include media($lg) {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        max-width: 320px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 105;
        padding: 50px 20px 40px;
        transform: translateX(100%);
        transition: .3s;
      }

      .singin-box {
        text-align: right;
        margin-bottom: 16px;

        @include media($lg) {
          margin-bottom: 25px;
          text-align: left;
        }
      }
    }

    &-bg,
    &-close {
      display: none;
    }

    &-bg {
      @include media($lg) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 101;
        background: rgba(86, 86, 86, 0.7);
      }
    }

    &-close {
      @include media($lg) {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        z-index: 110;
        background-color: transparent;
        border: none;
        box-shadow: none;

        &:after,
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 2px;
          background: #333;
        }

        &:after {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:before {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }

  &--alt {

    .header__content {
      padding-left: 20px;
      padding-right: 20px;
      height: 56px;

      @include media($big) {
        height: 96px;
      }

      @include media($lg) {
        height: 56px;
      }
    }
    .header__nav-content {
      display: flex;
      flex-direction: row-reverse;
      align-self: center;
      flex: 1;

      @include media($big) {
        display: block;
      }

      .singin-box {
        margin-bottom: 0;
        margin-left: auto;
        position: relative;
        bottom: -2px;

        @include media($big) {
          margin-bottom: 16px;
        }

        @include media($lg) {
          bottom: 0;
          margin-left: 0;
          margin-bottom: 25px;
        }
      }
    }

    .logo {
      width: 232px;
      min-width: 232px;
      margin-right: 15px;
      font-size: 13px;
      line-height: 1.2;

      @include media($xl) {
        margin-right: 0;
        font-size: 12px;
        min-width: 0;
        width: auto;
        max-width: 250px;
        line-height: 1.4;
      }
    }
  }
}