mixin header(loginType)
  header.header&attributes(attributes)

    .container
      .header__content
        +logo()

        .header__nav
          .header__nav-bg.js-nav-toggle
          .header__nav-content
            .header__nav-close.js-nav-toggle
            +singin-box(loginType)
            +nav()

        +burger()


mixin headerAlt(loginType)
  header.header.header--alt&attributes(attributes)
    .header__content
      +logo()
      
      .header__nav
        .header__nav-bg.js-nav-toggle
        .header__nav-content
          button.header__nav-close.js-nav-toggle
          +singin-box(loginType)
          if !offMainNav
            +nav()

      +burger()