.form {

  &-line {
    display: flex;

    label:first-child {
      width: 100%;
      flex: 1;
      margin-right: 17px;
    }
    label:last-child {
      flex: 0 0 187px;
      min-width: 187px;
      max-width: 187px;
    }
  }

  &-input-line {
    display: flex;

    input {
      flex: 1;
      border-radius: 3px 0 0 3px !important;
    }

    .btn {
      flex: 0 0 137px;
      min-width: 137px;
      border-radius: 0 3px 3px 0;
      font-size: 12px;
      font-weight: 500;

      &-search {
        flex: 0 0 48px;
        min-width: 48px;
        font-size: 15px;
      }
    }
  }

  label {
    display: block;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }

    .jq-selectbox {
      width: 100%;
    }

    &.check-alt {
      justify-content: space-between;
      color: #666666;
      font-size: 13px;
      border-radius: 4px;
      border: 1px solid #e9e9e9;
      padding: 8px 9px 8px 16px;
      margin-bottom: 8px;
      line-height: 1;
      cursor: pointer;
      min-height: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      input[type="radio"] {
        & + span {
          height: 20px;
          width: 20px;
          min-width: 20px;
          border: 1px solid #d1d1d1;
          margin-left: 15px;
          margin-right: 0;

          &:before {
            width: 15px;
            height: 15px;
          }

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 3px;
            height: 6px;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
            transform: translate(-50%, -50%) rotate(45deg);
          }
        }
      }
      input[type="checkbox"] {
        & + span {
          width: 20px;
          height: 20px;
          min-width: 20px;
          margin-left: 15px;
          margin-right: 0;

          &:before {
            top: 3px;
            left: 6px;
          }
        }
      }
    }

    &.radio {
      display: flex;
      align-items: center;
      line-height: 1.4;
      font-size: 14px;
      font-weight: 400;

      input {
        display: none;

        & + span {
          display: inline-block;
          width: 22px;
          height: 22px;
          border: 1px solid #d5d5d5;
          border-radius: 50%;
          position: relative;
          margin-right: 9px;
          min-width: 22px;
          transition: .3s;
          background-color: #fff;

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            background-color: $colorAccent;
            border-radius: 50%;
            opacity: 0;
            transition: .3s;
          }
        }

        &:checked ~ span {
          &:before {
            opacity: 1;
          }
        }
      }
    }

    &.checkbox {
      display: flex;
      align-items: center;
      line-height: 1.4;
      font-size: 14px;
      font-weight: 400;

      &--alone {
        height: 50px;
        align-self: flex-end;
      }

      &--person {
        margin-top: 20px;
        margin-bottom: 0;
      }

      &--vbig {
        height: 50px;
        margin-bottom: 13px;

        @include media($sm) {
          height: auto;
          margin-bottom: 18px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      input {
        display: none;

        & + span {
          display: inline-block;
          width: 22px;
          min-width: 22px;
          height: 22px;
          border-radius: 2px;
          position: relative;
          margin-right: 9px;
          top: -1px;
          border: 1px solid #e9e9e9;
          transition: .3s;
          background-color: #fff;

          &:before {
            content: '';
            position: absolute;
            top: 4px;
            left: 7px;
            width: 6px;
            height: 10px;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
            transform: rotate(45deg);
            opacity: 0;
            transition: .3s;
          }
        }

        &:checked ~ span {
          border-color: $colorAccent;
          background-color: $colorAccent;

          &:before {
            opacity: 1;
          }
        }
      }
    }

    span:first-child {
      display: block;
      font-size: 15px;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 10px;
    }
  }

  .label-title {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
    min-height: 15px;

    @include media($sm) {
      min-height: 0;
    }

    &.disabled {
      opacity: .4
    }
  }

  select,
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    display: block;
    width: 100%;
    box-shadow: none;
    height: 41px;
    padding: 0 16px;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    background-color: #fff;

    &:focus {
      border-color: $colorAccent;
    }
  }

  textarea {
    display: block;
    width: 100%;
    padding: 13px 25px 13px 15px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    height: 132px;
    color: #666666;
    font-size: 13px;
    line-height: 20px;
  }

  input[type="file"] {
    display: none;

    & + span {
      display: flex;
      align-items: center;
      width: 100%;
      height: 33px;
      font-size: 12px;
      padding: 5px 16px;
      border-radius: 4px 0 0 4px;
      border: 1px solid #e9e9e9;
      background-color: #fff;
    }
  }

  &__link {
    color: $colorAccent;
    text-decoration: underline;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    margin-bottom: 17px;

    &:hover {
      text-decoration: none;
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;

    .btn {
      width: calc(50% - 8px);
      height: 40px;
      font-size: 13px;
    }
  }

  &-action {
    margin-top: 10px;
    flex: 0 0 100%;
    padding-right: 30px;

    .btn {
      height: 60px;
      width: 100%;
      max-width: 326px;
      font-size: 16px;
      font-weight: 500;

      &--big {
        max-width: 504px;
        height: 60px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  input + input {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  &--cols {
    margin-right: -30px;
    display: flex;
    flex-wrap: wrap;

    label {
      flex: 0 0 calc(33.3333% - 30px);
      width: 100%;
      max-width: calc(33.3333% - 30px);
      margin-right: 30px;
      margin-bottom: 22px;

      @include media($lg) {
        flex: 0 0 calc(50% - 30px);
        max-width: calc(50% - 30px);
      }

      @include media($sm) {
        flex: 0 0 calc(100% - 30px);
        max-width: calc(100% - 30px);
      }
    }

    select,
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
      height: 50px;
      font-size: 14px;
    }

    .jq-selectbox__select-text {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &--filter {
    .jq-selectbox__select,
    select {
      height: 40px !important;
    }
  }

  &-comb {
    display: none;

    &.active {
      display: block;
    }

    &__list {
      margin-bottom: 19px;
    }

    &__add {
      display: inline-flex;
      align-items: center;
      line-height: 1;
      font-size: 14px;
      color: $colorAccent;
      margin-bottom: 10px;

      .icon {
        margin-right: 9px;
        font-size: 19px;
        position: relative;
        bottom: -2px;
      }
    }
  }
}