.platform {
  position: relative;
  background-color: #f3f3f3;
  padding: 65px 0 70px;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(50% - 15px);
    overflow: hidden;

    @include media($md) {
      display: none;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .container {
    display: flex;
    justify-content: flex-end;
  }

  &__info {
    width: calc(50% - 30px);

    @include media($md) {
      position: relative;
      z-index: 2;
      width: 100%;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}