.popup {
  border-radius: 6px;
  padding: 0;

  &-login {
    width: 100%;
    max-width: 346px;
  }

  &__title {
    padding: 19px 57px 19px 23px;
    border-bottom: 1px solid #e9e9e9;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 17px;
  }

  &__content {
    padding: 0 24px 24px;
  }
}